body {
	overflow-x: hidden;
	* {
		font-size: 16px;
		line-height: 24px;
		font-family: muliregular, sans-serif;
		outline: none !important;
		-webkit-font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.btn.focus, .btn:focus {
	box-shadow: none !important;
}
.container {
	max-width: 95%;
	width: 95%;
	min-width: 95%;
}
.bg-wrap {
	background-color: #070513;
	background-image: url(../images/car-backgrounds.jpg);
	height: 99.9vh;
	width: 99.99vw;
	background-size: cover;
	background-size: 100%;
	background-position: 0px 0px;
	.navbar {
		padding: 20px 0px 0px 0px;
		margin: 0px 0px 30px 0px;
		.logo {
			float: left;
			width: 350px;
			img {
				float: left;
				width: 100%;
				height: auto;
				position: relative;
				top: 8px;
				left: -22px;
			}
		}
		.right {
			justify-content: flex-end;
			.navbar-nav {
				.nav-item {
					.nav-link {
						color: #fff;
						font-family: Muli-Light, sans-serif;
						font-size: 16px;
						line-height: 24px;
						font-family: muliextralight, sans-serif;
						transition: all ease 0.5s;
						padding: 13px 18px 13px 18px;
						top: 10px;
						position: relative;
						&:hover {
							color: #ee5f1c;
							color: #e51012;
							color: red;
						}
						img {
							width: 35px;
							position: relative;
							top: -5px;
							left: 5px;
						}
						&.slide {
							position: relative;
							&:after {
								content: "";
								width: 1px;
								height: 30px;
								background-color: #fff;
								position: absolute;
								right: 0px;
								top: 10px;
							}
						}
						&.border {
							margin-left: 15px;
						}
					}
					&.home {
						a {
							background-image: url(../images/icons/homes.png);
							background-size: 100%;
							width: 40px;
							height: 40px;
							position: relative;
							transition: all ease 1s;
							img {
								visibility: hidden;
							}
						}
						&:hover {
							a {
								background-image: url(../images/icons/home.png);
							}
						}
					}
				}
			}
		}
	}
}
.contact {
	background-image: url(../images/border-background.png);
	position: fixed;
	bottom: 0px;
	z-index: 9999;
	width: 100%;
	height: 142px;
	background-size: cover;
	background-position: 0px -60px;
	transition: all ease 0.5s;
	.left {
		float: left;
		justify-content: left;
		a {
			font-family: mulisemibold, sans-serif;
			color: #001722;
			font-size: 20px;
			line-height: 30px;
			margin: 0px 20px 0px 0px;
			text-decoration: none;
			transition: all ease 0.5s;
			img {
				width: 45px;
				margin: 0px 5px 0px 0px;
			}
		}
	}
	.right {
		float: right;
		img {
			width: 250px;
			position: relative;
			bottom: 5px;
			margin: 0px 0px 0px 5px;
		}
		a {
			font-family: mulisemibold, sans-serif;
			color: #001722;
			font-size: 20px;
			line-height: 30px;
			position: relative;
			bottom: 5px;
			text-decoration: none;
			transition: all ease 0.5s;
		}
	}
	.wrap {
		position: relative;
		top: 82px;
	}
	a {
		&:hover {
			color: red;
		}
	}
	&.hide {
		bottom: -70px;
		transition: all ease 0.5s;
	}
	&.open {
		bottom: 0px;
		transition: all ease 0.5s;
	}
}
.back-btn-wrap {
	position: fixed;
	top: 230px;
	left: 0px;
	z-index: 99;
	button {
    display: block;
    width: 55px;
    /* height: 55px; */
    float: left;
    background-color: #001722;
    z-index: 99;
    background-image: url(../images/icons/left.png);
    background-size: 46px;
    border-radius: 0px 50px 50px 0px;
    border-left: 0px;
    background-repeat: no-repeat;
    background-position: 3px 5px;
    transition: all ease 1s;
    font-family: muliregular, sans-serif;
    color: #fff;
    font-size: 24px;
    left: 56px;

    overflow: hidden;
    text-decoration: none;
    background-color: #b20305;
    border: none;
    line-height: 55px;
    padding: 0px 0px 5px 58px;
		&:hover {
    width: 130px;
    transition: all ease 1s;
    background-color: #b20305;
    padding: 0px 25px 5px 58px;
		}
	}
}
.hvr-red-right:hover, .hvr-red-right:focus, .hvr-red-right:active {
	color: white;
}
.hvr-red-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #7d0001;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
}
.hvr-red-right:hover:before, .hvr-red-right:focus:before, .hvr-red-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.hvr-blue-right:hover, .hvr-blue-right:focus, .hvr-blue-right:active {
	color: white;
}
.hvr-blue-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #83818f;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
}
.hvr-blue-right:hover:before, .hvr-blue-right:focus:before, .hvr-blue-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2098D1;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2098D1;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.hvr-sweep-to-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2098D1;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2098D1;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
.round-btn {
	position: relative;
	display: inline-block;
	padding: 0.5em 2em;
	cursor: pointer;
	overflow: hidden;
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	& > *:before {
		left: 0;
	}
	& > *:after {
		right: 0;
	}
	& > * {
		& > *:before {
			top: 0;
			transform: translate3d(-105%, 0, 0);
			transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
		}
		& > *:after {
			bottom: 0;
			transform: translate3d(105%, 0, 0);
			transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
		}
		& > * {
			& > *:before {
				left: 0;
				transform: translate3d(0, 105%, 0);
				transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
			}
			& > *:after {
				right: 0;
				transform: translate3d(0, -105%, 0);
				transition: transform .8s cubic-bezier(0.4, 0, 0.2, 1);
			}
		}
	}
}
.round-btn:before, .round-btn:after {
	content: "";
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #252525;
}
.round-btn:hover>*>*:before, .round-btn:hover>*>*:after {
	transform: translate3d(0, 0, 0);
}
.round-btn:hover>*>*>*:before, .round-btn:hover>*>*>*:after {
	transform: translate3d(0, 0, 0);
}
.round-btn>*:before, .round-btn>*:after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #252525;
}
.round-btn>*>*:before, .round-btn>*>*:after {
	content: "";
	position: absolute;
	left: 0;
	z-index: 9;
	height: 2px;
	width: 100%;
	background-color: #B20305;
}
.round-btn>*>*>*:before, .round-btn>*>*>*:after {
	content: "";
	position: absolute;
	top: 0;
	z-index: 9;
	height: 100%;
	width: 2px;
	background-color: #B20305;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
	color: white;
}
.hvr-sweep-to-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #2098D1;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.loader {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #01010ced;
	z-index: 9999999;
	display: block;
	float: left;
	top: 0;
	left: 0px;
	text-align: center;
	img {
		width: 95px;
		margin: 0 auto;
		opacity: 1;
		position: relative;
		top: 35%;
	}
	p {
		width: 100%;
		text-align: center;
		position: relative;
		top: 35%;
		span {
			margin: 0 auto;
			color: #fff;
			font-family: 'mulisemibold';
			font-size: 26px;
		}
	}
}
.wrh {
	position: fixed;
	top: 69%;
	right: -118px;
	width: auto;
	transform: rotate(-90deg);
	z-index: 999999;
	border-radius: 10px 10px 0px 0px !important;
	.title {
		background-color: #B20305;
		color: #fff;
		font-size: 20px;
		line-height: 30px;
		font-family: muliregular, sans-serif;
		padding: 10px 20px;
		border-radius: 10px 10px 0px 0px !important;
		display: block;
		overflow: hidden;
		cursor: pointer;
		img {
			width: 30px;
			margin: 0px 10px 0px 0px;
			position: relative;
			top: -2px;
		}
	}
}


@media only screen and (max-width:1685px) {
  .bg-wrap .navbar .logo {
    width: 300px;
  }
  .back-btn-wrap {

    top: 210px;

}
.bg-wrap .navbar {
  padding: 5px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
}
}

@media only screen and (max-width:1450px) {
  .bg-wrap .navbar .logo {
    width: 260px;
  }
.back-btn-wrap {
    top: 192px;
}
}

@media only screen and (max-width:1370px) {
.back-btn-wrap a {
    background-position: -5px 0px;
    font-size: 22px;
    padding: 10px 0px 0px 48px;
    width: 45px;
    height: 50px;

}
.back-btn-wrap a:hover {
   
width: 122px;
padding: 10px 0px 0px 48px;
}
.back-btn-wrap {
    top: 170px;
}
.contact .right a {
 
    font-size: 18px;
    line-height: 27px;
    
}
.contact .right img {
    width: 150px;
    bottom: 2px;
}
.contact .left a {
    font-size: 17px;
}
.contact .left a img {
    width: 28px;
    position: relative;
    top: -2px;
}
.bg-wrap .navbar {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 22px 0px;
}
}

@media only screen and (max-width:1210px) {
.back-btn-wrap {
    top: 150px;
}
.back-btn-wrap a {
    background-position: -5px 0px;
    
    padding: 10px 0px 0px 44px;
    width: 40px;
    height: 48px;
}
}