<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="https://www.tranzlease.com" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://www.tranzlease.com" responseMode="Redirect" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.tranzlease.com" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
