.contactus iframe {
  float: left;
  width: 100%;
}

.contactus {
  float: left;
  width: 100%;
 
  background-size: 100%;    background-size: cover;
  background-position: -175px 0px;

  background-repeat: no-repeat;
 
  background-image: url(../img/contactus/contactusimg.jpg);

}

.contactus iframe{    float: left;
  width: 111%;
  height: 100%;    background-color: #262729;
  min-height: 89vh;    
  min-height: 862px;}

.contactus{float:left;width:100%}

.contactus .title {
  font-size: 60px;
  line-height: 65px;
  margin: 0px 0px 50px 0px;
  color: #1d3557;
  font-family: Roboto-Bold, sans-serif;
}
.contactus .title span {
  color: #ff192f;
}
.contactus .wrap {
  float: left;
  width: 100%;
  margin: 0px 0px 0px 0px;
z-index: 9;
  padding: 80px 0px 50px 50px;    min-height: 89vh; min-height: 862px;position: relative;
}
.contactus .wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.contactus .col-md-6 {
  padding: 0px;
  margin: 0px;
}

.contactus .color .box {
  float: left;
  width: 100%;
  padding: 0px 80px 30px 80px;
}

.contactus .color .box .title {
  font-family: Roboto-Medium, sans-serif;
  font-family: Roboto-Bold, sans-serif;
  font-size: 28px;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.contactus .color .box .para {
  font-family: Roboto-Medium, sans-serif;
  /* font-family: Roboto-Bold, sans-serif; */
  font-size: 22px;
  line-height: 33px;
  margin: 0px 0px 15px 0px;
}

.contactus .color .box .para span {
  color: #ff192f;
  font-family: Roboto-Bold, sans-serif;
  min-width: auto;
  float: left;
  margin: 0px 10px 0px 0px;
  width: auto;
}

.contactus .color .box .title i {
  position: absolute;
  left: -70px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  /* background-color: #ddd; */
  font-size: 22px !important;
  z-index: 999;
}

.contactus .color .box .title i:after {content: "";
  width: 50px;
  height: 50px;
  border-radius: 80px;
  background-color: #b7b7b7;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;

  box-shadow: 1px 2px 3px 0px #434c5f;}

.contactus .color .box .title i:before {

  z-index: 999;
  position: relative;
  top: 15px;
  left: 14px;
}

.contactus .color .box.fullwidth .para span {
  float: left;
  width: 100%;
  display: block;
  margin: 0px 0px 5px 0px;
}

.contactus .color .box.fullwidth .para {
  margin: 0px 0px 25px 0px;
}
.contactus .wrap .wraps {
  max-height: 61vh;
  overflow-y: scroll;    margin-right: 15px;    min-height: 591px;
}
#map {
  height: 863px;
  width: 112%;
}

.contactus .map .label {
  position: absolute;
  float: left;
  width: 300px;
  font-family: Roboto-Bold, sans-serif;
  z-index: 99;
  color: #ff192f;
  top: 41%;
  left: 39%;
  /* background-color: #00000094; */
  padding: 30px;
}

.contactus .map .label i {
  font-size: 52px !important;
  color: #f70018;
}

.contactus .map .label {
  color: #fff;
}

.contactus .map .label p {
  color: #000000;
  margin: 15px 0px 0px 0px;
  font-size: 32px;
  opacity: 0;
}
iframe .gm-style .place-card .place-name {

  font-size: 22px !important;
}
.main-navigation a.navbar-brand {

  border-bottom: 3px solid #e2e2e2;
}
.contactus .color .box .para a {
  color: #1d3557 !important;
  text-decoration: none;
}
@media only screen and (max-width: 1755px) {

}
@media only screen and (max-width: 1680px) {

}
@media only screen and (max-width: 1600px) {

}
@media only screen and (max-width: 1555px) {

}


@media only screen and (max-width: 1445px) {
.contactus .title {
  font-size: 48px;
  line-height: 60px;
}
.contactus {

  background-size: 105%;    background-size: cover;
}
.contactus .color .box .title {
  font-size: 26px;
}

}

@media only screen and (max-width: 1370px) {
  .contactus .color .box .title i:after {
  
    width: 45px;
    height: 45px;

    left: 1px;
    top: 2px;
   
}
.contactus .color .box .title i {

  font-size: 20px !important;

}
.contactus .title {

  margin: 0px 0px 30px 0px;}
  .contactus .wrap {
   
    padding: 60px 0px 40px 40px;
    min-height: 815px;
}
#map {
  height: 815px;

}
.contactus .color .box .para {

  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 10px 0px;
}
.contactus .color .box .title i {

  top: 5px;
}
}

@media only screen and (max-width: 1300px) {
  .contactus .title {
    font-size: 40px;
    line-height: 55px;
  }
}

@media only screen and (max-width: 1210px) {
  .contactus .wrap .wraps {
   
    min-height: 612px;
}
}

@media only screen and (max-width: 1100px) {
  .contactus .title {
    font-size: 36px;
    line-height: 50px;
  }
  .contactus .color .box {

    padding: 0px 15px 30px 70px;
}
.contactus .wrap .wraps {
  min-height: 620px;
}
}


@media only screen and (max-width: 900px) {
  .contactus {
    background-size: 105%;
    background-size: 167%;
    background-position: -100px 0px;
}
.contactus .wrap {
  padding: 60px 0px 40px 40px;
  min-height: auto;
}
.contactus .wrap .wraps {
  min-height: auto;
  max-height: inherit;    overflow-y: hidden;
}
#map {
  height: 500px;
  width: 112%;
  position: relative;
  left: -6%;
}
}
@media only screen and (max-width: 800px) {
.contactus .wrap {
  padding: 40px 0px 0px 40px;
  min-height: auto;
}
.contactus {
  background-size: 105%;
  background-size: 180%;
  background-position: -100px 0px;
}
}

@media only screen and (max-width: 770px) {
  .contactus .title {
    font-size: 32px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 767.5px) {
.contactus .wrap {
  padding: 65px 0px 0px 40px;
  min-height: auto;
}
.contactus {

  background-size: 183%;

}
}


@media only screen and (max-width: 660px) {
  .contactus .title {
    font-size: 32px;
    line-height: 45px;
  }
  .contactus .color .box {
    padding: 5px 15px 20px 70px;
}
.contactus .color .box .title {
  font-size: 24px;
}
.contactus .color .box .title i {
  top: -2px;
}
.contactus {
  background-size: 220%;
  background-position: -170px 0px;
}
.contactus .color .box .title i {
  top: 0px;
}

}

@media only screen and (max-width: 600px) {
.contactus {
  background-size: 247%;
  background-position: -240px 0px;
}
.contactus .color .box .title i:after {
  width: 40px;
  height: 40px;
  left: 2px;
  top: 3px;
}
.contactus .color .box .title i {
  font-size: 18px !important;
}
.contactus .color .box {
  padding: 5px 15px 20px 60px;
}
.contactus .color .box .title i {

  left: -60px;}
  .contactus .wrap {
    padding: 50px 0px 0px 20px;
    min-height: auto;
}
.contactus .title {
  margin: 0px 0px 20px 0px;
}
}

@media only screen and (max-width: 550px) {
 
  .contactus {
    background-size: 265%;
    background-position: -272px 0px;
}
.contactus .color .box .title {
  font-size: 22px;
}
.contactus .color .box .para {
  font-size: 18px;
  line-height: 27px;
  margin: 0px 0px 10px 0px;
}
}

@media only screen and (max-width: 490px) {
.contactus .title {
  font-size: 30px;
  line-height: 42px;
}
.contactus {
  background-size: 300%;
  background-position: -308px 0px;
}

}
@media only screen and (max-width: 470px) {
.contactus {
  background-size: 325%;
  background-position: -342px 0px;
}
}
@media only screen and (max-width: 455px) {
.contactus {
  background-size: 332%;
  background-position: -360px 0px;
}
}
@media only screen and (max-width: 445px) {
.contactus {
  background-size: 339%;
  background-position: -372px 0px;
}
.contactus .wrap {
  padding: 50px 0px 0px 15px;
  min-height: auto;
  width: 112%;
  position: relative;
  left: -6%;
}
}
@media only screen and (max-width: 430px) {
.contactus {
  background-size: cover;
  background-position: -150px 0px;
  background-image: url(../img/contactus/contactus-img.jpg);
}

}
