@import 'other';
.three-grid .box, .three-grid .box .img, .three-grid .box img {
	float: left;
	width: 100%;
}
.banner {
	float: left;
	width: 100%;
	overflow-x: hidden;
	max-height: 580px;
	overflow: hidden;
	.carousel-inner {
		& > .item {
			overflow: hidden;
			img {
				width: 100%;
			}
			.caption {
				position: absolute;
				left: 5%;
				top: 17%;
				background-color: #00000091;
				padding: 40px 30px 40px 40px;
				font-family: Fira Sans;
				font-weight: bold;
				color: #fbe3d8;
				color: #fff;
				width: 38%;
				display: table;
				height: 350px;
				text-align: center;
				z-index: 9;
			}
			span {
				mark {
					background: transparent;
					color: red;
					font-size: 42px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 4px;
					height: 150px;
					background-color: #ff0000;
					left: 0;
					top: 24%;
				}
			}
		}
		.item {
			span {
				display: table-cell;
				vertical-align: middle;
				text-align: left;
				position: relative;
				padding-left: 30px;
				font-size: 40px;
				font-family: Roboto-Bold, sans-serif;
				line-height: 58px;
				color: #fbe3d8;
				color: #fff;
				mark {
					background: transparent;
					font-size: 52px !important;
					padding: 0;
					margin: 0;
					font-family: Roboto-Black, sans-serif;
					color: #ff0000;
					font-size: 42px;
					text-shadow: 2px 3px 5px #000000;
				}
			}
		}
	}
	.carousel-control {
		background: transparent !important;
		font-size: 60px;
		color: #fbe3d8;
		color: #fff;
		opacity: 1;
		top: 40%;
		width: 90px;
		transition: all ease 0.5s;
		.glyphicon-chevron-left {
			left: 15%;
			margin-left: -10px;
		}
		.glyphicon-chevron-right {
			right: 15%;
		}
		i {
			&:before {
				color: #fbe3d8;
				color: #fff;
			}
		}
	}
	.carousel-indicators {
		bottom: 70px;
		.active {
			background-color: red;
			border: 2px solid red;
			width: 20px;
			height: 12px;
		}
		li {
			width: 18px;
			height: 10px;
		}
	}
	.left {
		&.carousel-control {
			&:hover {
				left: -0.5%;
			}
		}
	}
	.right {
		&.carousel-control {
			&:hover {
				right: -0.5%;
			}
		}
	}
}
.three-grid {
	float: left;
	width: 100%;
	position: relative;
	margin-top: -40px;
	margin-bottom: 70px;
	.col-md-4 {
		margin: 0;
		padding: 0;
	}
	.box {
		position: relative;
		overflow: hidden;
		min-height: 300px;
		border: 1px solid #dddfe0;
		.caption {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: #fff;
			text-align: center;
			height: 100%;
			padding-top: 50px;
			.title {
				color: #1d3557;
				font-size: 50px;
				font-weight: 500;
				line-height: 65px;
				font-family: Roboto-Bold, sans-serif;
				margin: 0 0 20px 0;
				span {
					color: red;
					font-size: 68px;
					font-style: italic;
					padding: 0 5px 0 0;
					font-weight: 600;
					font-family: Roboto-Bold, sans-serif;
				}
			}
			.para {
				&.big {
					font-size: 24px;
					color: #1d3557;
					font-weight: 400;
					margin: 0 0 15px 0;
					font-family: Roboto-Medium, sans-serif;
				}
				&.small {
					font-size: 20px;
					width: 100%;
					float: left;
					padding: 0 15px;
					margin: 0 0 25px 0;
					font-family: Roboto-Regular, sans-serif;
					line-height: 30px;
				}
			}
			a {
				&.link {
					padding: 15px 20px;
					min-width: 220px;
					display: inline-block;
					margin: 0 auto;
					font-size: 18px;
					background: #457b9d !important;
					font-family: Roboto-Medium, sans-serif;
					text-decoration: none;
					color: #fff;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.img {
			position: absolute;
			top: 100%;
			&:after {
				content: '';
				width: 100%;
				background: #00000082;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
			}
		}
	}
}
button {
	&.navbar-toggler {
		display: none;
	}
}
.main-content {
	float: left;
	width: 100%;
	position: relative;
	padding: 70px 0px;
	.title {
		font-size: 40px;
		color: #ffffff;
		font-weight: 400;
		margin: 0 0 15px 0;
		font-family: Roboto-Medium, sans-serif;
		width: 100%;
		text-align: center;
		font-family: Roboto-Bold, sans-serif;
		margin: 0px 0px 50px 0px;
		line-height: 60px;
		position: relative;
		z-index: 99;
		&:after {
			content: '';
			width: 100px;
			height: 4px;
			background: #457b9d;
			position: absolute;
			left: 47%;
			bottom: -25px;
		}
	}
}
.india-drives {
	float: left;
	width: 100%;
	position: relative;
	padding: 50px 0px;
	max-height: 959px;
	overflow: hidden;
	min-height: 969px;
	padding-top: 7%;
	color: #e63946;
	color: #ff0000;
	.title {
		margin: 0px 0px 70px 0px;
		font-size: 60px;
		margin: 0px 0px 70px 0px;
		font-size: 60px;
		text-shadow: 2px 3px 5px #000000;
		color: #e63946;
		color: #ff0000;
	}
	video#india-drives {
		position: absolute;
		top: 0px;
		z-index: 0;
		left: 0px;
		width: 100%;
		position: absolute;
		top: 0px;
		z-index: 0;
		left: -5%;
		width: 110%;
		max-width: inherit;
	}
	&:after {
		// content: '';
		// width: 100%;
		// height: 210vh;
		// left: 0px;
		// top: 0px;
		// z-index: 8;
		// position: absolute;
		// opacity: 0.6;
		// background-image: url(../img/homepage/gredients.png);
		// background-size: cover;
		// background-position: 0% 0%;
		content: '';
		width: 100%;
		height: 210vh;
		left: 0px;
		top: 0px;
		z-index: 8;
		position: absolute;
		opacity: 0.3;
		/* background-image: url(../img/homepage/gredients.png); */
		background-size: cover;
		background-position: 0% 0%;
		background-color: #00255a;
		background-color: #001738;
	}
	.wrapmain {
		z-index: 9;
		z-index: 9;
		.wrap {
			float: left;
			width: 100%;
			text-align: center;
			padding: 0% 6%;
			p {
				&.para {
					margin: 0 0 25px 0;
					font-family: Roboto-Regular, sans-serif;
					color: #f1faee;
					color: #fff;
					text-align: center;
					font-size: 24px;
					line-height: 45px;
					width: 100%;
					padding: 3% 9%;
					float: left;
					margin: 0px 0px 50px 0px;
					position: relative;
					text-shadow: 2px 3px 5px #0000008a;
					background: #00000073;
					&:after {
						content: '';
						content: '';
						background-image: url(../img/homepage/icons/quote.svg);
						position: absolute;
						right: 10%;
						bottom: 25px;
						width: 55px;
						height: 55px;
						background-size: 100%;
						transform: rotate(180deg);
					}
					&:before {
						content: '';
						background-image: url(../img/homepage/icons/quote.svg);
						position: absolute;
						left: 4%;
						top: 32px;
						width: 55px;
						height: 55px;
						background-size: 100%;
					}
				}
			}
			a {
				&.link {
					&.hvr-right {
						padding: 15px 20px;
						min-width: 220px;
						display: inline-block;
						margin: 0 auto;
						font-size: 24px;
						background: #457b9d !important;
						font-family: Roboto-Medium, sans-serif;
						text-decoration: none;
						text-decoration-line: none;
						// text-decoration-thickness: initial;
						// text-decoration-style: initial;
						// text-decoration-color: initial;
						color: #f1faee;
						color: #fff;
						text-align: center;
					}
				}
			}
		}
	}
	.semi-title {
		color: #fff;
		float: left;
		width: 100%;
		text-align: center;
		font-family: Roboto-Medium, sans-serif;
		opacity: 1;
		z-index: 9;
		font-size: 30px;
		margin: 0px 0px 40px 0px;
		color: #ffffff;
		text-shadow: 2px 3px 5px #0000008a;
		line-height: 45px;
		padding: 0% 12%;
		span {
			color: #ff0000;
			font-family: 'Roboto-Black';
			font-size: 36px;
			text-shadow: 2px 3px 5px #000000;
		}
	}
}
.testimonials {
	float: left;
	width: 100%;
	display: block;
	padding: 50px;
	float: left;
	width: 100%;
	display: block;
	padding: 50px;
	background-color: #f1e5e5;
	background-color: #e3efdf;
	padding: 7% 50px 7% 50px;
	background-image: url(../img/homepage/testimonials_bg2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	padding: 90px 50px 90px 50px;
	background-position: center;
	.background-bg {
		background-color: #f1faeed4;
		padding: 50px;
		z-index: 9;
	}
	.wrap {
		float: left;
		width: 100%;
		overflow: visible;
		float: left;
		width: 100%;
		overflow: visible;
		.img {
			float: left;
			width: 25%;
			display: block;
			position: relative;
			text-align: center;
			background-color: #f8fdf7;
			padding: 20px 0px;
			overflow: visible;
			margin: 20px 20px 20px 20px;
			border: 1px solid #f1baba;
			float: left;
			width: 25%;
			display: block;
			position: relative;
			text-align: center;
			background-color: #fff2f2;
			padding: 0px 0px;
			overflow: visible;
			margin: 20px 20px 20px 20px;
			background-color: #fff;
			img {
				position: relative;
				width: 60%;
				position: relative;
				width: 90%;
			}
			&:after {
				content: '';
				width: 130px;
				position: absolute;
				background: #e63946;
				height: 130px;
				right: -15px;
				top: -15px;
				z-index: -1;
				content: '';
				width: 130px;
				position: absolute;
				background: #ff0000;
				height: 130px;
				right: -15px;
				top: -15px;
				z-index: -1;
			}
			&:before {
				content: '';
				width: 130px;
				position: absolute;
				background: #e63946;
				height: 130px;
				left: -15px;
				bottom: -15px;
				z-index: -1;
				content: '';
				width: 130px;
				position: absolute;
				background: #ff0000;
				height: 130px;
				left: -15px;
				bottom: -15px;
				z-index: -1;
			}
		}
	}
	.carousel-control {
		background: transparent;
		background: transparent;
		opacity: 0.8;
		.glyphicon-chevron-left {
			color: #000;
			opacity: 1;
			font-size: 30px;
			&:before {
				content: '\e079';
				font-size: 40px;
				content: '\e257';
				opacity: 1 !important;
				color: #292929 !important;
				content: '\f053';
				font-family: 'FontAwesome';
				content: '\f104';
				font-size: 80px;
			}
		}
		.glyphicon-chevron-right {
			color: #000;
			opacity: 1;
			font-size: 30px;
			&:before {
				content: '\e079';
				font-size: 40px;
				content: '\e257';
				opacity: 1 !important;
				color: #292929 !important;
				content: '\f053';
				font-family: 'FontAwesome';
				content: '\f105';
				font-size: 80px;
			}
		}
	}
	a {
		&.right {
			&.carousel-control {
				background: transparent;
				right: -14%;
				top: 45%;
				color: #457b9d;
				color: #1d3557;
				font-size: 60px;
				font-size: 60px;
				opacity: 1;
				transition: all ease 0.5s;
			}
		}
		&.left {
			&.carousel-control {
				left: -14%;
				top: 45%;
				background: transparent;
				color: #457b9d;
				color: #1d3557;
				font-size: 60px;
				font-size: 60px;
				opacity: 1;
				transition: all ease 0.5s;
			}
		}
	}
	.content {
		padding: 40px 30px 40px 80px;
		float: left;
		width: 70%;
	}
	p {
		&.Name {
			color: #ff0000;
			text-align: left;
			font-size: 34px;
			color: #1d3557;
			font-weight: 400;
			float: left;
			width: 100%;
			margin: 0px 0px 45px 0px;
			line-height: 40px;
			position: relative;
			font-family: Roboto-Medium, sans-serif;
			line-height: 45px;
			&:after {
				content: '';
				width: 75px;
				height: 4px;
				background: #457b9d;
				position: absolute;
				bottom: -15px;
				left: 0px;
			}
		}
		&.desig {
			color: #ff0000;
			text-align: left;
			font-size: 20px;
			font-family: 'Fira Sans';
			line-height: 30px;
			float: left;
			width: 100%;
			margin: 0px 0px 25px 0px;
		}
		&.para {
			color: #1d3557;
			text-align: left;
			font-size: 18px;
			font-family: Roboto-Regular, sans-serif;
			line-height: 30px;
			span {
				margin: 0px 0px 10px 0px;
				float: left;
				width: 100%;
			}
		}
	}
	.right {
		&.carousel-control {
			&:hover {
				right: -15%;
			}
		}
	}
	.left {
		&.carousel-control {
			&:hover {
				left: -15%;
			}
		}
	}
	.title {
		margin: 0px 0px 80px 0px;
		color: #ffffff;
		font-weight: 400;
		width: 100%;
		text-align: center;
		font-family: Roboto-Bold, sans-serif;
		line-height: 60px;
		position: relative;
		z-index: 9;
		margin: 0px 0px 100px 0px;
		font-size: 48px;
		color: #1d3557;
	}
	&:after {
		content: '';
		background-color: #a7ada5;
		background-color: #cfdacc;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.8;
	}
}
.clients {
	margin: 0px 0px 70px 0px;
	.title {
		font-weight: 400;
		width: 100%;
		text-align: center;
		font-family: Roboto-Bold, sans-serif;
		line-height: 60px;
		position: relative;
		z-index: 9;
		margin: 0px 0px 50px 0px;
		font-size: 48px;
		color: #1d3557;
	}
	.btn-wrap {
		display: none;
	}
	.honeycomb {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		justify-content: center;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		transform: translateY(34.375px);
	}
	.honeycomb-cell {
		flex: 0 1 250px;
		max-width: 250px;
		height: 137.5px;
		margin: 65.4761904762px 12.5px 25px;
		position: relative;
		padding: 0.5em;
		text-align: center;
		z-index: 1;
		&::before {
			background: #fff;
			transform: scale(1.045);
			transition: opacity 0.5s;
			transition: all ease 0.5s;
		}
		&::after {
			background: #457b9d;
			opacity: 0.9;
			transition: opacity 350ms;
			background-color: #733716;
			background-color: #1d3557;
			background-color: #264653;
			background-color: #222732;
			background-color: #38455f;
		}
		&:hover {
			.honeycomb-cell__title {
				opacity: 0;
			}
			&::before {
				background: #e63946;
			}
			&::after {
				opacity: 0;
			}
		}
	}
	.honeycomb-cell__title {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		hyphens: auto;
		word-break: break-word;
		text-transform: capitalize;
		color: #fff;
		font-size: 1.75em;
		transition: opacity 350ms;
		font-size: 24px;
		font-family: Roboto-Medium, sans-serif;
		line-height: 36px;
		width: 100%;
		padding: 0% 8%;
		text-shadow: 2px 2px 4px #000;
		color: #f1faee;
		color: #fff;
		& > small {
			font-weight: 300;
			margin-top: 0.25em;
		}
	}
	.honeycomb-cell__image {
		object-fit: cover;
		object-position: center;
	}
	.honeycomb__placeholder {
		display: none;
		opacity: 0;
		width: 250px;
		margin: 0 12.5px;
	}
}
.introduction {
	padding: 110px 0px;
	.title {
		font-weight: 400;
		width: 100%;
		text-align: center;
		font-family: Roboto-Bold, sans-serif;
		line-height: 60px;
		position: relative;
		z-index: 9;
		margin: 0px 0px 70px 0px;
		font-size: 48px;
		color: #1d3557;
	}
	.para {
		font-family: Roboto-Regular, sans-serif;
		color: #1d3557;
		text-align: left;
		font-size: 22px;
		line-height: 35px;
		margin: 0px 0px 30px 0px;
		text-align: center;
		span {
			color: #ff0000;
			font-family: Roboto-Medium, sans-serif;
			font-family: Roboto-Bold, sans-serif;
		}
	}
	.link {
		&.hvr-right {
			padding: 15px 20px;
			min-width: 220px;
			display: inline-block;
			margin: 0 auto;
			font-size: 24px;
			background: #457b9d !important;
			font-family: Roboto-Medium, sans-serif;
			text-decoration: none;
			text-decoration-line: none;
			// text-decoration-thickness: initial;
			// text-decoration-style: initial;
			// text-decoration-color: initial;
			color: #f1faee;
			color: #fff;
			text-align: center;
			margin-top: 30px;
		}
	}
}
.our-partner {
	background-color: #e3f0e700;
	background-image: url(../img/homepage/img-6.jpg);
	background-image: url(../img/homepage/partners.jpg);
	background-attachment: fixed;
	background-position: 0% 65%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #e3f0e7;
	.title {
		font-weight: 400;
		width: 100%;
		text-align: center;
		font-family: Roboto-Bold, sans-serif;
		line-height: 60px;
		position: relative;
		z-index: 9;
		margin: 0px 0px 50px 0px;
		font-size: 48px;
		color: #1d3557;
		text-align: left;
		mark {
			color: #ff0000;
			background-color: transparent;
		}
		&:after {
			left: 0%;
		}
	}
	p {
		&.para {
			font-family: Roboto-Regular, sans-serif;
			color: #1d3557;
			text-align: left;
			font-size: 20px;
			line-height: 32px;
		}
	}
	.wrap {
		float: right;
		width: 90%;
		.boxes {
			float: left;
			width: 50%;
			border: 1px solid #f8e2e2;
			min-height: 295px;
			position: relative;
			&.img {
				text-align: center;
				background-color: #eff2f8;
				background-color: #f1f8f3;
				img {
					float: none;
					width: 85%;
					position: relative;
					top: 59px;
					margin: 0 auto;
				}
				&.second {
					position: relative;
					left: 50%;
				}
			}
			.title {
				font-size: 26px;
				line-height: 40px;
				margin: 0px 0px 30px 0px;
				transition: all ease 0.5s;
				&:after {
					bottom: -10px;
					width: 100px;
					height: 4px;
				}
			}
			.para {
				font-size: 16px;
				line-height: 24px;
			}
			&.content {
				padding: 20px 15px 15px 35px;
				border: 1px solid #d0c8c8;
				background-color: #e3f0e7;
				cursor: pointer;
				&.second {
					position: relative;
					left: -50%;
					&:before {
						width: 0;
						height: 0;
						border-top: 20px solid transparent;
						border-left: 40px solid #e3f0e7;
						border-bottom: 20px solid transparent;
						content: '';
						z-index: 9;
						left: 94%;
						top: 40%;
						position: absolute;
						transform: rotate(360deg);
					}
				}
				&:before {
					width: 0;
					height: 0;
					border-top: 20px solid transparent;
					border-left: 40px solid #e3f0e7;
					border-bottom: 20px solid transparent;
					content: '';
					z-index: 9;
					left: -14px;
					top: 40%;
					position: absolute;
					transform: rotate(300deg);
				}
				&:hover {
					background-color: #e5eaf3;
					background-color: #eff2f8;
					&:before {
						content: none;
					}
					p {
						&.float {
							box-shadow: 0px 3px 6px 3px #c1bfbf;
							height: auto;
							padding: 15px;
							transition: all ease 0.5s;
						}
					}
				}
				p {
					&.float {
						font-size: 16px;
						line-height: 24px;
						font-family: Roboto-Regular, sans-serif;
						position: absolute;
						left: 0px;
						top: 240px;
						background-color: #fff;
						padding: 15px;
						z-index: 10;
						box-shadow: 0px 3px 6px 3px #c1bfbf;
						height: 0px;
						overflow: hidden;
						padding: 0px;
						box-shadow: none;
						transition: all ease 0.5s;
					}
				}
			}
			&:hover {
				.title {
					color: #ff0000;
					transition: all ease 0.5s;
				}
			}
			.link {
				margin: 15px 0px 0px 0px;
				float: left;
				text-decoration: underline;
				color: #1d3557;
				font-family: Roboto-Medium, sans-serif;
			}
		}
	}
	.left-content {
		margin-top: 6%;
	}
	&:after {
		content: '';
		background-color: #a7ada5;
		background-color: #dbdbdb;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.8;
	}
	.zindex {
		z-index: 10;
	}
}
.clients *, .clients *::before, .clients *::after {
	box-sizing: border-box;
}
.clients .honeycomb-cell::before, .clients .honeycomb-cell::after {
	content: '';
}
.clients .honeycomb-cell::before, .clients .honeycomb-cell::after, .clients .honeycomb-cell__image {
	top: -50%;
	left: 0;
	width: 100%;
	height: 200%;
	display: block;
	position: absolute;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	z-index: -1;
	background-color: #fff;
	transition: opacity 0.5s;
	transition: all ease 0.5s;
}
.clients .honeycomb-cell::after {
    background: #457b9d;
    opacity: 0.9;
    transition: opacity 350ms;
    background-color: #733716;
    background-color: #1d3557;
    background-color: #264653;
    background-color: #222732;
    background-color: #38455f;
}


@media (max-width:550px) {
	.clients .honeycomb-cell {
		margin: 81.25px 25px
	}

}

@media (min-width:550px) and (max-width:825px) {
	.clients .honeycomb-cell:nth-child(3n) {
		margin-right: calc(50% - 125px);
		margin-left: calc(50% - 125px)
	}

	.clients .honeycomb__placeholder:nth-child(3n+5) {
		display: block
	}

}

@media (min-width:825px) and (max-width:1100px) {
	.clients .honeycomb-cell:nth-child(5n+4) {
		margin-left: calc(50% - 275px)
	}

	.clients .honeycomb-cell:nth-child(5n+5) {
		margin-right: calc(50% - 275px)
	}

	.clients .honeycomb__placeholder:nth-child(5n), .clients .honeycomb__placeholder:nth-child(5n+3) {
		display: block
	}

}

@media (min-width:1100px) {
	.clients .honeycomb-cell:nth-child(7n+5) {
		margin-left: calc(50% - 400px)
	}

	.clients .honeycomb-cell:nth-child(7n+7), .clients .honeycomb-cell:nth-child(7n+5):nth-last-child(2) {
		margin-right: calc(50% - 400px)
	}

	.clients .honeycomb__placeholder:nth-child(7n+7), .clients .honeycomb__placeholder:nth-child(7n+9), .clients .honeycomb__placeholder:nth-child(7n+11) {
		display: block
	}

}

@media only screen and (max-width:1985px) {
	.banner {
	.carousel-indicators {
		bottom: 122px;
	}
}


}

@media only screen and (max-width:1685px) {
	.banner {
	.carousel-indicators {
		bottom: 70px;
	}
	.carousel-inner {
		.item {
			span {
				font-size: 38px;
				line-height: 58px;
				mark {
					background: transparent;
					font-size: 48px !important;
				}
			}
		}
	}
}
.our-partner {
	.wrap {
		.boxes {
			min-height: 310px;
		}
	}
}
.india-drives {
	video#india-drives {
		left: -10%;
		width: 124%;
	}
}

}

@media only screen and (max-width:1555px) {
.india-drives {
	padding-top: 80px;
	video#india-drives {
		width: 150%;
		max-width: initial;
	}
	.semi-title {
		padding: 0% 5%;
	}
	.title {
		font-size: 50px;
		line-height: 75px;
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					&:after {
						right: 4%;
						bottom: 44px;
					}
				}
			}
		}
	}
}
.testimonials {
	a {
		&.left {
			&.carousel-control {
				left: -17%;
			}
		}
		&.right {
			&.carousel-control {
				right: -17%;
			}
		}
	}
	.left {
		&.carousel-control {
			&:hover {
				left: -18%;
			}
		}
	}
	.right {
		&.carousel-control {
			&:hover {
				right: -18%;
			}
		}
	}
	.title {
		font-size: 42px;
		line-height: 62px;
	}
}
.banner {
	.carousel-inner {
		& > .item {
			.caption {
				background-color: #000000ad;
				top: 14%;
				width: 41%;
				height: 310px;
			}
			span {
				&:after {
					top: 19%;
				}
			}
		}
	}
}
.three-grid {
	.box {
		min-height: 309px;
		.caption {
			padding-top: 30px;
			position: relative;
			padding-bottom: 30px;
			.title {
				margin: 0 0 8px 0;
			}
			.para {
				&.small {
					min-height: 60px;
				}
			}
		}
	}
}
.clients {
	.title {
		font-size: 42px;
		line-height: 62px;
	}
}
.our-partner {
	.wrap {
		.boxes {
			min-height: 330px;
		}
	}
}


}

@media only screen and (max-width:1445px) {
	.banner {
	.carousel-inner {
		.item {
			span {
				font-size: 34px;
				line-height: 50px;
				mark {
					font-size: 40px !important;
				}
			}
		}
		& > .item {
			overflow: hidden;
			max-height: 441px;
			.caption {
				top: 12%;
				padding: 40px 30px 40px 40px;
				height: 300px;
				width: 45%;
			}
		}
	}
	.carousel-indicators {
		bottom: 70px;
	}
	video#carfeelings {
		width: 150%;
		margin-top: -90px;
	}
}
.three-grid {
	.box {
		.caption {
			.para {
				&.small {
					min-height: 60px;
					min-height: auto;
				}
			}
		}
	}
}
.india-drives {
	padding-top: 65px;
	.title {
		font-size: 54px;
		line-height: 80px;
	}
	.semi-title {
		font-size: 26px;
		line-height: 40px;
		padding: 0% 8%;
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					padding: 3% 10%;
					font-size: 22px;
					line-height: 40px;
					&:after {
						right: 3%;
					}
					&:before {
						left: 3%;
					}
				}
			}
		}
	}
	video#india-drives {
		width: 140%;
		max-width: inherit;
		left: -18%;
	}
}
.clients {
	.title {
		font-size: 44px;
	}
	.honeycomb-cell {
		flex: 0 1 200px;
		max-width: 200px;
		height: 110.5px;
		margin: 50.47619px 12.5px 25px;
	}
}
.testimonials {
	padding: 70px 50px 70px 50px;
	a {
		&.left {
			&.carousel-control {
				left: -18%;
			}
		}
		&.right {
			&.carousel-control {
				right: -18%;
			}
		}
	}
	.title {
		margin: 0px 0px 70px 0px;
	}
	.content {
		padding: 40px 30px 40px 60px;
	}
}
.our-partner {
	.title {
		font-size: 44px;
		line-height: 60px;
	}
	.wrap {
		.boxes {
			min-height: 325px;
			.title {
				font-size: 24px;
				line-height: 35px;
			}
		}
	}
}


}

@media only screen and (max-width:1370px) {
	.india-drives {
	padding: 50px 0px;
	padding-top: 5%;
	padding: 30px 0px;
	padding-top: 30px;
	max-height: 700px;
	min-height: 700px;
	.title {
		font-size: 40px;
		margin: 0px 0px 50px 0px;
		margin: 0px 0px 50px 0px;
		font-family: Roboto-Bold, sans-serif;
		font-size: 36px;
		&:after {
			bottom: -10px;
		}
	}
	.semi-title {
		font-size: 28px;
		line-height: 38px;
		padding: 0% 6%;
		font-size: 22px;
		line-height: 33px;
		padding: 0% 10%;
		span {
			font-size: 28px;
		}
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					font-size: 20px;
					line-height: 35px;
					padding: 0% 12%;
					font-size: 18px;
					line-height: 30px;
					padding: 20px 100px 20px 100px;
					margin: 0px 0px 40px 0px;
					&:before {
						left: 6%;
						left: 30px;
						top: 24px;
						width: 45px;
						height: 45px;
						left: 24px;
						top: 24px;
					}
					&:after {
						right: 6%;
						right: 35px;
						width: 45px;
						height: 45px;
					}
				}
			}
			a {
				&.link {
					&.hvr-right {
						padding: 15px 18px;
						min-width: 220px;
						font-size: 20px;
						padding: 15px 15px;
						min-width: 210px;
						font-size: 18px;
					}
				}
			}
		}
	}
	video#india-drives {
		.india-drives {
			video#india-drives {
				width: 120%;
				left: -8%;
			}
		}
	}
}
.banner {
	video#carfeelings {
		margin-top: -90px;
		margin-top: -65px;
	}
	.carousel-inner {
		.item {
			span {
				mark {
					font-size: 34px !important;
				}
			}
		}
	}
	.left {
		&.carousel-control {
			left: -10px;
			&:hover {
				left: -0.5%;
				left: -0.5%;
				left: -18px;
			}
		}
	}
	.carousel-control {
		font-size: 50px;
	}
	.right {
		&.carousel-control {
			right: -10px;
			&:hover {
				right: -18px;
			}
		}
	}
	.carousel-indicators {
		bottom: 50px;
	}
}
.three-grid {
	margin-bottom: 50px;
	.box {
		min-height: 280px;
		.caption {
			padding-top: 28px;
			.title {
				font-size: 40px;
				line-height: 55px;
				margin: 0 0 12px 0;
				span {
					font-size: 54px;
				}
			}
			.para {
				&.big {
					font-size: 22px;
					margin: 0 0 12px 0;
				}
				&.small {
					font-size: 18px;
					padding: 0 65px;
					margin: 0 0 20px 0;
					line-height: 27px;
					min-height: 54px;
				}
			}
		}
	}
}
.clients {
	margin: 0px 0px 70px 0px;
	padding: 40px 0px;
	.title {
		font-size: 36px;
		margin: 0px 0px 30px 0px;
		font-size: 40px;
	}
}
.main-content {
	.title {
		&:after {
			bottom: -20px;
		}
	}
}
.testimonials {
	padding: 50px 50px 50px 50px;
	padding: 40px 50px 50px 50px;
	min-height: 100vh;
	.title {
		margin: 0px 0px 70px 0px;
		font-family: Roboto-Bold, sans-serif;
		font-size: 40px;
	}
	a {
		&.left {
			&.carousel-control {
				&:hover {
					left: -19%;
				}
			}
		}
		&.right {
			&.carousel-control {
				&:hover {
					right: -19%;
				}
			}
		}
	}
	.content {
		padding: 15px 30px 4px 50px;
		float: left;
		width: 70%;
	}
	p {
		&.Name {
			font-size: 30px;
			margin: 0px 0px 40px 0px;
		}
	}
	.background-bg {
		padding: 50px;
		min-height: 400px;
	}
	.carousel-control {
		font-size: 50px !important;
	}
}
.introduction {
	.title {
		font-size: 40px;
		line-height: 55px;
		margin: 0px 0px 50px 0px;
	}
	.para {
		font-size: 20px;
		line-height: 33px;
		margin: 0px 0px 25px 0px;
	}
	.link {
		&.hvr-right {
			margin-top: 15px;
		}
	}
}
.our-partner {
	.title {
		font-size: 40px;
		line-height: 55px;
	}
	.wrap {
		.boxes {
			min-height: 325px;
			&.img {
				img {
					top: 85px;
				}
			}
		}
	}
}

}

@media only screen and (max-width:1290px) {
	.india-drives {
	.wrapmain {
		.wrap {
			p {
				&.para {
					padding: 3% 10%;
					font-size: 20px;
					line-height: 32px;
				}
			}
		}
	}
	video#india-drives {
		width: 120%;
		left: -5%;
	}
}
.three-grid {
	.box {
		.caption {
			.title {
				font-size: 44px;
				span {
					font-size: 60px;
				}
			}
		}
	}
}
.introduction {
	padding: 50px 0px;
	.title {
		font-size: 40px;
		line-height: 55px;
	}
}
.our-partner {
	.title {
		font-size: 40px;
		line-height: 55px;
	}
	.wrap {
		float: right;
		width: 100%;
		.boxes {
			min-height: 325px;
			min-height: 325px;
		}
	}
}

.banner {
	.carousel-inner {
		.item {
			img {
				width: 125%;
				max-width: inherit;
				margin-left: 0%;
			}
		}
	}
}
}

@media only screen and (max-width:1210px) {
	.banner .carousel-inner .item span {
		font-size: 30px;
		line-height: 45px;
	}
	.banner .carousel-inner>.item .caption {
	
		height: 275px;
	  
	}
	.our-partner .wrap .boxes {
		min-height: 325px;
		min-height: 350px;
	}
	
    .three-grid .box .caption .title span {
        font-size: 55px;
    }
	.three-grid .box .caption .title {
		font-size: 41px;
	}
	.introduction .title {
		font-size: 36px;
		line-height: 54px;
	}
	.our-partner .title {
		font-size: 36px;
		line-height: 54px;
	}
	.clients .title {
		font-size: 36px;
		margin: 0px 0px 30px 0px;
		line-height: 54px;
	}
    .testimonials .title {
		font-size: 36px;
		line-height: 54px;
	}	
	
	.banner .carousel-inner>.item span:after {

	top: 12%;
}
	}
@media only screen and (max-width:1030px) {
	.banner {
	.carousel-inner {
		& > .item {
			overflow: hidden;
			max-height: 333px;
			.caption {
				top: 7%;
				padding: 20px 30px 20px 40px;
				height: 240px;
				width: 50%;
			}
			span {
				&:after {
					height: 110px;
					top: 25%;
				}
			}
		}
		.item {
			span {
				font-size: 28px;
				line-height: 42px;
				mark {
					font-size: 30px !important;
				}
			}
		}
	}
	.left {
		&.carousel-control {
			left: -20px;
		}
	}
	.right {
		&.carousel-control {
			right: -20px;
		}
	}
	.carousel-indicators {
		bottom: 45px;
	}
}
.three-grid {
	margin-bottom: 30px;
	.box {
		min-height: 250px;
		.caption {
			.title {
				font-size: 34px;
				line-height: 50px;
				margin: 0 0 10px 0;
				span {
					font-size: 45px;
					line-height: 60px;
				}
			}
			.para {
				&.big {
					font-size: 20px;
				}
				&.small {
					font-size: 14px;
					padding: 0 50px;
					margin: 0 0 12px 0;
					line-height: 24px;
					min-height: 50px;
				}
			}
			a {
				&.link {
					font-size: 14px;
					padding: 12px 15px;
					min-width: 145px;
				}
			}
		}
	}
}
.main-content {
	&.our-partner {
		padding: 50px 0px;
	}
	.title {
		&:after {
			bottom: -15px;
			left: 45%;
		}
	}
}
.india-drives {
	.title {
		margin: 0px 0px 30px 0px;
		font-size: 32px;
		&:after {
			bottom: -5px;
		}
	}
	.wrapmain {
		.wrap {
			padding: 0% 0%;
			p {
				&.para {
					font-size: 16px;
					line-height: 30px;
					padding: 20px 90px 20px 90px;
				}
			}
		}
	}
	.semi-title {
		font-size: 20px;
		line-height: 30px;
		padding: 0% 8%;
		span {
			font-size: 22px;
		}
	}
	video#india-drives {
		width: 130%;
		left: -12%;
	}
}
.clients {
	margin: 0px 0px 50px 0px;
	padding: 40px 0px;
	.title {
		font-size: 32px;
	}
	.honeycomb-cell {
		flex: 0 1 200px;
		max-width: 200px;
		height: 100px;
		margin: 20px 0px 30px;
	}
	.honeycomb-cell__title {
		font-size: 18px;
		line-height: 27px;
		width: 90%;
		padding: 0%;
		margin-top: -10px;
	}
}
.clients .honeycomb-cell::before, .clients .honeycomb-cell::after, .clients .honeycomb-cell__image {
	width: 90%;
	height: 185%;
}
.testimonials {
	padding: 40px 50px 50px 50px;
	min-height: auto;
	.title {
		margin: 0px 0px 50px 0px;
		font-size: 32px;
	}
	.content {
		padding: 10px 30px 4px 40px;
		width: 69%;
	}
	p {
		&.Name {
			font-size: 24px;
			margin: 0px 0px 30px 0px;
			&:after {
				bottom: -12px;
			}
		}
		&.para {
			font-size: 16px;
			line-height: 27px;
		}
	}
	.wrap {
		.img {
			&:before {
				left: -10px;
				bottom: -10px;
				height: 70px;
				width: 70px;
			}
			&:after {
				right: -10px;
				top: -10px;
				height: 70px;
				width: 70px;
			}
		}
	}
	.background-bg {
		padding: 30px;
		min-height: auto;
	}
}
.introduction {
	.title {
		font-size: 32px;
		line-height: 48px;
	}
}
.our-partner {
	.zindex {
		width: 100%;
		margin: 0px 0px 30px 0px;
	}
	.wrap {
		.boxes {
			min-height: 265px;
			.title {
				&:after {
					left: 0%;
				}
			}
			&.img {
				img {
					top: 5px;
				}
			}
		}
	}
	.title {
		mark {
			float: left;
			width: 100%;
			margin-bottom: 50px;
			display: block;
		}
		&:after {
			left: 0%;
			bottom: -65px;
		}
	}
}


}

@media only screen and (max-width:770px) {
	.banner {
	.carousel-inner {
		.item {
			span {
				font-size: 24px;
				line-height: 38px;
				font-size: 22px;
				line-height: 36px;
				padding-left: 20px;
				mark {
					font-size: 26px !important;
				}
			}
		}
		& > .item {
			max-height: 301px;
			img {
				width: 120%;
				max-width: inherit;
			}
			.caption {
				height: 218px;
				height: 195px;
				padding: 20px 20px 20px 30px;
				top: 8%;
				width: 55%;
			}
			span {
				&:after {
					height: 100px;
					top: 20%;
				}
			}
		}
	}
	.carousel-control {
		font-size: 30px;
	}
	.left {
		&.carousel-control {
			left: -27px;
		}
	}
	.right {
		&.carousel-control {
			right: -27px;
		}
	}
}
.three-grid {
	.box {
		min-height: 180px;
		.caption {
			padding-top: 15px;
			padding-bottom: 15px;
			position: relative;
			padding-top: 5px;
			.title {
				font-size: 26px;
				line-height: 40px;
				margin: 0 0 5px 0;
				span {
					font-size: 36px;
					line-height: 50px;
				}
			}
			.para {
				&.big {
					font-size: 16px;
				}
				&.small {
					font-size: 13px;
					padding: 0 10px;
					margin: 0 0 10px 0;
					line-height: 18px;
					min-height: 40px;
				}
			}
			a {
				&.link {
					font-size: 16px;
					padding: 13px 15px;
					min-width: 145px;
				}
			}
		}
	}
}
.india-drives {
	max-height: initial;
	min-height: inherit;
	.title {
		margin: 0px 0px 30px 0px;
		font-size: 30px;
		line-height: 45px;
	}
	.semi-title {
		font-size: 20px;
		line-height: 28px;
		padding: 0% 5%;
		margin: 0px 0px 20px 0px;
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					font-size: 14px;
					line-height: 26px;
					padding: 20px 40px 20px 40px;
					margin: 0px 0px 30px 0px;
					font-size: 18px;
					line-height: 28px;
					&:before {
						left: 12px;
						top: 18px;
						left: 12px;
						top: 18px;
						width: 25px;
						height: 25px;
					}
					&:after {
						right: 9px;
						width: 25px;
						height: 25px;
						bottom: 18px;
					}
				}
			}
			a {
				&.link {
					&.hvr-right {
						padding: 14px 15px;
						min-width: 160px;
						font-size: 16px;
					}
				}
			}
		}
	}
	video#india-drives {
		width: 165%;
		max-width: inherit;
		left: -25%;
	}
}
.main-content {
	.title {
		&:after {
			left: 45%;
			width: 85px;
			height: 3px;
		}
	}
}
.clients {
	.title {
		font-size: 30px;
		line-height: 45px;
	}
}
.introduction {
	.title {
		font-size: 30px;
		line-height: 45px;
	}
	.para {
		font-size: 18px;
		line-height: 30px;
		width: 95%;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.link {
		&.hvr-right {
			margin-top: 15px;
			font-size: 18px;
			padding: 15px 15px;
		}
	}
}
.our-partner {
	.title {
		font-size: 30px;
		line-height: 45px;
		text-align: center;
	}
	.wrap {
		.boxes {
			min-height: 295px;
			&.img {
				img {
					top: 45px;
				}
			}
			.title {
				text-align: left;
			}
		}
	}
}
.testimonials {
	.wrap {
		.img {
			width: 92%;
			img {
				width: 45%;
			}
		}
	}
	.content {
		padding: 10px 30px 4px 25px;
		width: 100%;
	}
	a {
		&.left {
			&.carousel-control {
				left: -21%;
				&:hover {
					left: -22%;
				}
			}
		}
		&.right {
			&.carousel-control {
				right: -21%;
				&:hover {
					right: -22%;
				}
			}
		}
	}
}


}

@media only screen and (max-width:767.5px) {
	.three-grid {
	.col-md-4 {
		width: 33.3%;
		float: left;
	}
	.box {
		.caption {
			a {
				&.link {
					font-size: 14px;
					padding: 12px 15px;
					min-width: 145px;
				}
			}
		}
	}
}
.main-content {
	&.our-partner {
		background-position: 55% 0%;
	}
}
.banner {
	.carousel-inner {
		& > .item {
			.caption {
				height: 175px;
				padding: 15px 20px 15px 30px;
				top: 17%;
				width: 55%;
			}
		}
	}
}
.introduction {
	.para {
		width: 100%;
	}
}
.our-partner {
	p {
		&.para {
			text-align: center;
		}
	}
	.wrap {
		.boxes {
			min-height: 300px;
		}
	}
}
.clients {
	.btn-wrap {
		text-align: center;
		float: left;
		width: 100%;
		display: block;
		button {
			&.more {
				float: none;
				width: auto;
				position: relative;
				top: 55px;
				margin: 0 auto;
				padding: 10px 15px;
				min-width: 200px;
				display: inline-block;
				margin: 0 auto;
				font-size: 20px;
				background: #457b9d !important;
				font-family: Roboto-Medium, sans-serif;
				text-decoration: none;
				text-decoration-line: none;
				// text-decoration-thickness: initial;
				// text-decoration-style: initial;
				// text-decoration-color: initial;
				color: #f1faee;
				color: #fff;
				text-align: center;
				margin-top: 30px;
				border: none;
			}
		}
	}
	.honeycomb {
		.w7 {
			display: none;
		}
		&.open {
			.w7 {
				display: block;
			}
		}
	}
}
.testimonials {
	.background-bg {
		padding: 15px;
	}
}


}

@media only screen and (max-width:670px) {
	.three-grid {
	margin-top: 0px;
	margin-top: 30px;
	.box {
		.caption {
			.title {
				font-size: 25px;
				line-height: 40px;
				span {
					font-size: 34px;
					line-height: 50px;
				}
			}
			a {
				&.link {
					-webkit-transform: inherit;
					transform: inherit;
				}
			}
		}
	}
}
.banner {
	.carousel-inner {
		& > .item {
			max-height: inherit;
			.caption {
				position: relative;
				width: 100%;
				top: 0px;
				left: 0px;
				bottom: inherit;
				padding: 0px;
				margin: 0px;
				height: auto;
				background-color: #222732 !important;
			}
			span {
				&:after {
					height: 100px;
					top: 0%;
					width: 7px;
				}
			}
		}
		.item {
			span {
				padding: 20px 20px 20px 30px;
				margin: 0px;
				height: auto;
				mark {
					font-size: 22px !important;
					text-shadow: none;
				}
				br {
					display: none;
				}
			}
		}
	}
	.carousel-indicators {
		bottom: 90px;
		display: none;
	}
}
.india-drives {
	video#india-drives {
		width: 196%;
		max-width: inherit;
		left: -40%;
		transform: rotate(90deg);
		left: -49%;
	}
	.semi-title {
		font-size: 20px;
		line-height: 28px;
		padding: 0% 0%;
		margin: 0px 0px 20px 0px;
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					font-size: 16px;
					line-height: 26px;
					padding: 20px 40px 20px 40px;
				}
			}
		}
	}
}
.introduction {
	padding: 30px 0px;
	.para {
		width: 100%;
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 20px;
	}
	.title {
		margin: 0px 0px 40px 0px;
	}
}
.our-partner {
	.wrap {
		.boxes {
			min-height: 330px;
			.para {
				text-align: left;
			}
			&.img {
				img {
					top: 90px;
				}
			}
		}
	}
}


}

@media only screen and (max-width:560px) {
	.banner {
	.carousel-inner {
		.item {
			span {
				font-size: 18px;
				line-height: 30px;
				mark {
					font-size: 18px !important;
				}
				&:after {
					height: 140px;
				}
			}
		}
	}
}
.india-drives {
	video#india-drives {
		width: 230%;
		max-width: inherit;
		left: -65%;
	}
	.title {
		font-size: 27px;
		line-height: 40px;
	}
	.semi-title {
		font-size: 18px;
		line-height: 28px;
		span {
			font-size: 20px;
		}
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					&:before {
						left: 10px;
						top: 18px;
						width: 20px;
						height: 20px;
					}
					&:after {
						right: 10px;
						width: 20px;
						height: 20px;
						bottom: 20px;
					}
				}
			}
		}
	}
}
.our-partner {
	.title {
		font-size: 27px;
		line-height: 40px;
		margin: 0px 0px 40px 0px;
		&:after {
			bottom: -55px;
		}
	}
	.wrap {
		.boxes {
			min-height: 343px;
			&.content {
				padding: 15px 15px 15px 15px;
			}
			.title {
				font-size: 20px;
				line-height: 30px;
				&:after {
					bottom: -10px;
					height: 3px;
				}
			}
		}
	}
}
.introduction {
	.title {
		font-size: 27px;
		line-height: 40px;
		margin: 0px 0px 40px 0px;
	}
}
.clients {
	.title {
		font-size: 27px;
		line-height: 40px;
		padding: 0% 15%;
	}
	.btn-wrap {
		button {
			&.more {
				font-size: 18px;
			}
		}
	}
}
.testimonials {
	padding: 15px;
	padding: 15px 15px 30px 15px;
	.wrap {
		.img {
			width: 100%;
			margin: 0px;
			padding: 0px;
			&:before {
				content: none;
			}
			&:after {
				content: none;
			}
			img {
				width: 55%;
			}
		}
	}
	.carousel-control {
		font-size: 30px !important;
	}
	a {
		&.left {
			&.carousel-control {
				left: -16%;
				&:hover {
					left: -16%;
				}
			}
		}
		&.right {
			&.carousel-control {
				right: -16%;
				&:hover {
					right: -16%;
				}
			}
		}
	}
}
.main-content {
	.title {
		&:after {
			left: 39%;
		}
	}
}
footer {
	.ml-auto {
		&.mt-cust {
			ul {
				li {
					text-align: left;
				}
			}
		}
	}
}
div#overlay {
	.companylogo {
		left: 28%;
	}
	.companycar {
		left: 13%;
	}
}


}

@media only screen and (max-width:490px) {
	.three-grid {
	.col-md-4 {
		width: 100%;
	}
	.box {
		min-height: auto;
		border: 1px solid #e8e8e8;
		.caption {
			.para {
				&.small {
					font-size: 16px;
					padding: 0 10px;
					margin: 0 0 15px 0;
					min-height: auto;
				}
			}
			.title {
				font-size: 26px;
				line-height: 40px;
				span {
					font-size: 36px;
					line-height: 50px;
				}
			}
		}
	}
}
.main-content {
	&.our-partner {
		padding: 30px 0px;
	}
	.title {
		&:after {
			left: 35%;
			bottom: -3px;
		}
	}
}
.banner {
	.carousel-inner {
		.item {
			span {
				padding: 15px 20px;
				font-size: 20px;
				line-height: 30px;
				mark {
					font-size: 20px !important;
				}
			}
		}
		& > .item {
			img {
				width: 185%;
				max-width: inherit;
				margin-left: -60%;
			}
			.caption {
				height: 88px;
			}
		}
	}
}
.india-drives {
	video#india-drives {
		width: 280%;
		left: -90%;
	}
	.wrapmain {
		.wrap {
			p {
				&.para {
					padding: 5px;
					&:before {
						left: -30px;
					}
					&:after {
						right: -30px;
					}
				}
			}
		}
	}
}
.our-partner {
	p {
		&.para {
			font-size: 18px;
			line-height: 30px;
		}
	}
	.wrap {
		.boxes {
			min-height: auto;
			width: 100%;
			float: left;
			left: 0% !important;
			position: relative;
			&.img {
				background-color: #ffffff;
				img {
					top: 0px;
					width: 65%;
				}
			}
			&.content {
				padding: 15px 15px 15px 15px;
				margin: 0px 0px 20px 0px;
				border: 1px solid #f1f1f1;
				background-color: #f5f9f6;
				padding: 15px 15px 20px 15px;
				&:before {
					content: none;
				}
				&.second {
					&:before {
						content: none;
					}
				}
				&:hover {
					p {
						&.float {
							box-shadow: 0px 3px 6px 3px #c1bfbf;
							height: auto;
							padding: 15px;
							transition: all ease 0.5s;
							position: relative;
							width: 100%;
							float: left;
							top: 0px;
							left: 0px;
							padding: 20px 0px 5px 0px;
							margin: 0px;
							background: transparent;
							box-shadow: none;
						}
					}
				}
			}
			.title {
				font-size: 22px;
				line-height: 36px;
				padding: 0px;
			}
			.link {
				font-size: 18px;
			}
		}
	}
	.title {
		padding: 0% 5%;
	}
}
.clients {
	.title {
		font-size: 27px;
		line-height: 40px;
		padding: 0% 0%;
	}
}
.testimonials {
	.title {
		margin: 0px 0px 30px 0px;
		font-size: 27px;
	}
	.content {
		padding: 10px;
	}
}
.shine {
	&:after {
		height: 100%;
	}
}


}

@media only screen and (max-width:450px) {
	.india-drives {
	video#india-drives {
		width: 325%;
		left: -106%;
		width: 310%;
		left: -98%;
		width: 480%;
		left: -190%;
	}
	.title {
		&:after {
			left: 37%;
			bottom: -7px;
		}
	}
}
.three-grid {
	margin-top: 20px;
}
.our-partner {
	.title {
		mark {
			margin-bottom: 40px;
		}
		&:after {
			left: 35%;
			bottom: -52px;
		}
	}
	.zindex {
		padding: 0px;
	}
}
.introduction {
	.title {
		&:after {
			left: 35%;
			bottom: -13px;
		}
	}
}
.testimonials {
	.background-bg {
		background-color: #ffffffd4;
	}
	a {
		&.left {
			&.carousel-control {
				left: -18%;
				&:hover {
					left: -18%;
				}
			}
		}
		&.right {
			&.carousel-control {
				right: -18%;
				&:hover {
					left: -18%;
				}
			}
		}
	}
}


}

@media only screen and (max-width:380px) {
	.banner {
	.carousel-inner {
		.item {
			span {
				padding: 15px 5px 15px 15px;
			}
		}
	}
}


}
