.three-grid .box, .three-grid .box .img, .three-grid .box img {
  float: left;
  width: 100%; }

html {
  float: left;
  width: 100%;
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  font-family: Roboto-Regular, sans-serif;
  color: #1d3557;
  overflow-x: hidden;
  background-color: #f1faee; }
  body * {
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.container {
  width: 90%;
  max-width: 90%;
  float: none; }

.banner video#carfeelings {
  width: 100%;
  margin-top: -100px; }

section.banner {
  float: left;
  width: 100%;
  overflow-x: hidden;
  max-height: 580px;
  overflow: hidden; }
  section.banner .carousel-inner > .item {
    overflow: hidden;
    max-height: 580px;
    max-height: 471px; }
    section.banner .carousel-inner > .item img {
      width: 100%; }
    section.banner .carousel-inner > .item .caption {
      position: absolute;
      left: 5%;
      top: 17%;
      background: #00000091;
      padding: 40px 30px 40px 40px;
      font-family: Fira Sans;
      font-weight: bold;
      color: #fbe3d8;
      width: 38%;
      display: table;
      height: 350px;
      text-align: center;
      z-index: 9; }
    section.banner .carousel-inner > .item span mark {
      background: transparent;
      color: #ef0000;
      font-size: 42px; }
    section.banner .carousel-inner > .item span:after {
      content: '';
      position: absolute;
      width: 4px;
      height: 150px;
      background: #ef0000;
      left: 0;
      top: 24%; }
  section.banner .carousel-inner .item span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: relative;
    padding-left: 30px;
    font-size: 40px;
    font-family: Roboto-Bold, sans-serif;
    line-height: 58px;
    color: #fbe3d8; }
    section.banner .carousel-inner .item span mark {
      background: transparent;
      font-size: 52px !important;
      padding: 0;
      margin: 0;
      font-family: Roboto-Black, sans-serif;
      color: #ef0000;
      font-size: 42px;
      text-shadow: 2px 2px 6px #00000042; }
  section.banner .carousel-control {
    background: transparent !important;
    font-size: 60px;
    color: #fbe3d8;
    opacity: 1;
    top: 40%;
    width: 90px;
    transition: all ease 0.5s; }
    section.banner .carousel-control .glyphicon-chevron-left {
      left: 15%;
      margin-left: -10px; }
    section.banner .carousel-control .glyphicon-chevron-right {
      right: 15%; }
    section.banner .carousel-control i:before {
      color: #fbe3d8; }
  section.banner .carousel-indicators {
    bottom: 70px; }
    section.banner .carousel-indicators .active {
      background-color: #ef0000;
      border: 2px solid #ef0000;
      width: 20px;
      height: 12px; }
    section.banner .carousel-indicators li {
      width: 18px;
      height: 10px; }
  section.banner .left.carousel-control:hover {
    left: -0.5%; }
  section.banner .right.carousel-control:hover {
    right: -0.5%; }
section.main-navigation {
  float: left;
  width: 100%;
  position: relative; }
  section.main-navigation .navbar-collapse {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0; }
    section.main-navigation .navbar-collapse .wrap {
      float: right;
      width: auto; }
  section.main-navigation .navbar-nav {
    padding: 38px 0 22px;
    width: 100%;
    background-color: #f1faee;
    float: right; }
    section.main-navigation .navbar-nav .nav-item {
      float: left;
      width: auto;
      display: inline-block;
      font-family: Roboto-Medium, sans-serif;
      font-size: 18px;
      padding: 0 0 12px 0;
      margin: 0 0 3px 30px;
      color: #1d3557;
      text-decoration: none; }
      section.main-navigation .navbar-nav .nav-item a {
        color: #1d3557;
        text-decoration: none; }
      section.main-navigation .navbar-nav .nav-item .dropdown-menu {
        float: left;
        width: 100%;
        top: 174%;
        padding: 10px 15px 10px 20px;
        min-width: 200px; }
        section.main-navigation .navbar-nav .nav-item .dropdown-menu .dropdown-item {
          clear: both;
          float: left;
          width: auto;
          display: block;
          font-family: Roboto-Medium, sans-serif;
          font-size: 18px;
          padding: 0 10px 10px 0;
          margin: 12px 0;
          color: #1d3557;
          position: relative; }
  section.main-navigation .top-nav {
    float: left;
    width: 100%;
    position: relative;
    padding: 15px 0 0;
    background-color: #264653;
    background-color: #222732; }
    section.main-navigation .top-nav .list {
      float: right; }
      section.main-navigation .top-nav .list li {
        display: inline-block; }
        section.main-navigation .top-nav .list li a {
          float: left;
          font-family: Roboto-Medium, sans-serif;
          color: #fff;
          padding: 0 0 18px 0;
          text-decoration: none;
          margin: 5px 0 0 30px;
          transition: all ease 0.5s; }
          section.main-navigation .top-nav .list li a i {
            transform: scale(1);
            transition: all ease 0.5s;
            padding: 0 8px 0 0;
            font-size: 18px;
            position: relative;
            top: 0;
            color: #ef0000; }
          section.main-navigation .top-nav .list li a:hover {
            transition: all ease 0.5s;
            color: #ef0000; }
            section.main-navigation .top-nav .list li a:hover i {
              opacity: 1;
              transform: scale(1.2);
              transition: all ease 0.5s;
              color: #fff; }
      section.main-navigation .top-nav .list .dropdown-menu {
        padding: 15px 20px 0;
        min-width: 265px; }
      section.main-navigation .top-nav .list .nav-item.dropdown .dropdown-item {
        color: #1d3557;
        clear: both;
        width: auto;
        font-size: 17px;
        padding: 0 0 10px 0;
        margin: 0 0 12px 0; }
      section.main-navigation .top-nav .list .nav-item.dropdown a:hover {
        transition: all ease 0.5s;
        color: #ef0000; }
        section.main-navigation .top-nav .list .nav-item.dropdown a:hover i {
          opacity: 1;
          transform: scale(1.2);
          transition: all ease 0.5s;
          color: #fff; }
    section.main-navigation .top-nav .nav-item.dropdown {
      display: inline-block; }
      section.main-navigation .top-nav .nav-item.dropdown a {
        float: left;
        font-family: Roboto-Medium, sans-serif;
        color: #fff;
        padding: 0 0 18px 0;
        text-decoration: none;
        margin: 5px 0 0 30px;
        transition: all ease 0.5s; }
      section.main-navigation .top-nav .nav-item.dropdown i {
        padding: 0 8px 0 0;
        font-size: 18px;
        position: relative;
        top: 0;
        color: #ef0000; }
  section.main-navigation .navbar {
    margin: 0;
    padding: 0;
    border: none; }
  section.main-navigation a.navbar-brand {
    background-color: #f1faee;
    position: absolute;
    display: block;
    float: left;
    width: auto;
    min-height: 153px;
    z-index: 9;
    padding: 40px 15px 0;
    box-shadow: 2px 0 8px 1px #0000002b;
    left: 5%;
    top: 0;
    min-width: 215px;
    text-align: center; }
    section.main-navigation a.navbar-brand img {
      float: none;
      display: block;
      margin: 0 auto;
      top: 8%;
      position: relative;
      width: 165PX; }
section.three-grid {
  float: left;
  width: 100%;
  position: relative;
  margin-top: -40px;
  margin-bottom: 70px; }
  section.three-grid .col-md-4 {
    margin: 0;
    padding: 0; }
  section.three-grid .box .caption .title {
    color: #1d3557;
    font-size: 50px;
    font-weight: 500;
    line-height: 65px;
    font-family: Roboto-Bold, sans-serif;
    margin: 0 0 20px 0; }
    section.three-grid .box .caption .title span {
      color: #ef0000;
      font-size: 68px;
      font-style: italic;
      padding: 0 5px 0 0;
      font-weight: 600;
      font-family: Roboto-Bold, sans-serif; }
  section.three-grid .box .caption .para.big {
    font-size: 24px;
    color: #1d3557;
    font-weight: 400;
    margin: 0 0 15px 0;
    font-family: Roboto-Medium, sans-serif; }
  section.three-grid .box .caption .para.small {
    font-size: 18px;
    width: 100%;
    float: left;
    padding: 0 15px;
    margin: 0 0 25px 0;
    font-family: Roboto-Regular, sans-serif; }
  section.three-grid .box .caption a.link {
    padding: 15px 20px;
    min-width: 220px;
    display: inline-block;
    margin: 0 auto;
    font-size: 18px;
    background: #457b9d !important;
    font-family: Roboto-Medium, sans-serif;
    text-decoration: none;
    color: #fff; }
    section.three-grid .box .caption a.link:hover {
      color: #fff; }

.three-grid .box {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  border: 1px solid #dddfe0;
  background: #fff;
  /*box-shadow: 2px 2px 5px 2px #d5dcd2;*/ }
  .three-grid .box .img {
    position: absolute;
    top: 100%; }
    .three-grid .box .img:after {
      content: '';
      width: 100%;
      background: #00000082;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%; }
  .three-grid .box .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #f1faee;
    text-align: center;
    height: 100%;
    padding-top: 50px; }

button.navbar-toggler {
  display: none; }

.main-content {
  float: left;
  width: 100%;
  position: relative;
  padding: 70px 0px; }
  .main-content .title {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    margin: 0 0 15px 0;
    font-family: Roboto-Medium, sans-serif;
    width: 100%;
    text-align: center;
    font-family: Roboto-Bold, sans-serif;
    margin: 0px 0px 50px 0px;
    line-height: 60px;
    position: relative;
    z-index: 99; }
    .main-content .title:after {
      content: '';
      width: 100px;
      height: 4px;
      background: #457b9d;
      position: absolute;
      left: 47%;
      bottom: -25px; }

.india-drives {
  float: left;
  width: 100%;
  position: relative;
  padding: 50px 0px;
  max-height: 959px;
  overflow: hidden;
  min-height: 969px;
  padding-top: 7%;
  color: #e63946;
  color: #ef0000; }
  .india-drives .title {
    margin: 0px 0px 70px 0px;
    font-size: 60px;
    margin: 0px 0px 70px 0px;
    font-size: 60px;
    text-shadow: 2px 3px 5px #0000008a;
    color: #e63946;
    color: #ef0000; }
  .india-drives video#india-drives {
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
    width: 100%; }
  .india-drives:after {
    content: '';
    width: 100%;
    background-color: #000000;
    height: 110vh;
    left: 0px;
    top: 0px;
    z-index: 8;
    position: absolute;
    opacity: 0.7; }
  .india-drives .wrapmain {
    z-index: 9;
    z-index: 9; }
    .india-drives .wrapmain .wrap {
      float: left;
      width: 100%;
      text-align: center;
      padding: 0% 6%; }
      .india-drives .wrapmain .wrap p.para {
        margin: 0 0 25px 0;
        font-family: Roboto-Regular, sans-serif;
        color: #fff;
        color: #f1faee;
        text-align: center;
        font-size: 24px;
        line-height: 45px;
        width: 100%;
        padding: 3% 9%;
        float: left;
        margin: 0px 0px 50px 0px;
        position: relative;
        text-shadow: 2px 3px 5px #0000008a;
        background: #00000073; }
        .india-drives .wrapmain .wrap p.para:after {
          content: '';
          content: '';
          background-image: url(../img/homepage/icons/quote.svg);
          position: absolute;
          right: 10%;
          bottom: 25px;
          width: 55px;
          height: 55px;
          background-size: 100%;
          transform: rotate(180deg); }
        .india-drives .wrapmain .wrap p.para:before {
          content: '';
          background-image: url(../img/homepage/icons/quote.svg);
          position: absolute;
          left: 4%;
          top: 32px;
          width: 55px;
          height: 55px;
          background-size: 100%; }
      .india-drives .wrapmain .wrap a.link.hvr-right {
        padding: 15px 20px;
        min-width: 220px;
        display: inline-block;
        margin: 0 auto;
        font-size: 24px;
        background: #457b9d !important;
        font-family: Roboto-Medium, sans-serif;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
        color: #fff;
        color: #f1faee;
        text-align: center; }
  .india-drives .semi-title {
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    font-family: Roboto-Medium, sans-serif;
    opacity: 1;
    z-index: 9;
    font-size: 30px;
    margin: 0px 0px 40px 0px;
    color: #ffffff;
    text-shadow: 2px 3px 5px #0000008a;
    line-height: 45px;
    padding: 0% 12%; }
    .india-drives .semi-title span {
      color: #ef0000;
      font-family: 'Roboto-Black';
      font-size: 36px; }

.testimonials {
  float: left;
  width: 100%;
  display: block;
  padding: 50px;
  float: left;
  width: 100%;
  display: block;
  padding: 50px;
  background-color: #f1e5e5;
  background-color: #e3efdf;
  padding: 7% 50px 7% 50px;
  background-image: url(../img/homepage/testimonials_bg2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  padding: 90px 50px 90px 50px;
  background-position: center; }
  .testimonials .background-bg {
    background-color: #f1faeed4;
    padding: 50px;
    z-index: 9; }
  .testimonials .wrap {
    float: left;
    width: 100%;
    overflow: visible;
    float: left;
    width: 100%;
    overflow: visible; }
    .testimonials .wrap .img {
      float: left;
      width: 25%;
      display: block;
      position: relative;
      text-align: center;
      background-color: #f8fdf7;
      padding: 20px 0px;
      overflow: visible;
      margin: 20px 20px 20px 20px;
      border: 1px solid #f1baba;
      float: left;
      width: 25%;
      display: block;
      position: relative;
      text-align: center;
      background-color: #fff2f2;
      padding: 20px 0px;
      overflow: visible;
      margin: 20px 20px 20px 20px; }
      .testimonials .wrap .img img {
        position: relative;
        width: 60%;
        position: relative;
        width: 70%; }
      .testimonials .wrap .img:after {
        content: '';
        width: 130px;
        position: absolute;
        background: #e63946;
        height: 130px;
        right: -20px;
        top: -20px;
        z-index: -1;
        content: '';
        width: 130px;
        position: absolute;
        background: #ef0000;
        height: 130px;
        right: -20px;
        top: -20px;
        z-index: -1; }
      .testimonials .wrap .img:before {
        content: '';
        width: 130px;
        position: absolute;
        background: #e63946;
        height: 130px;
        left: -20px;
        bottom: -20px;
        z-index: -1;
        content: '';
        width: 130px;
        position: absolute;
        background: #ef0000;
        height: 130px;
        left: -20px;
        bottom: -20px;
        z-index: -1; }
  .testimonials .carousel-control {
    background: transparent;
    background: transparent;
    opacity: 0.8; }
    .testimonials .carousel-control .glyphicon-chevron-left {
      color: #000;
      opacity: 1;
      font-size: 30px; }
      .testimonials .carousel-control .glyphicon-chevron-left:before {
        content: '\e079';
        font-size: 40px;
        content: '\e257';
        opacity: 1 !important;
        color: #292929 !important;
        content: '\f053';
        font-family: 'FontAwesome';
        content: '\f104';
        font-size: 80px; }
    .testimonials .carousel-control .glyphicon-chevron-right {
      color: #000;
      opacity: 1;
      font-size: 30px; }
      .testimonials .carousel-control .glyphicon-chevron-right:before {
        content: '\e079';
        font-size: 40px;
        content: '\e257';
        opacity: 1 !important;
        color: #292929 !important;
        content: '\f053';
        font-family: 'FontAwesome';
        content: '\f105';
        font-size: 80px; }
  .testimonials a.right.carousel-control {
    background: transparent;
    right: -14%;
    top: 45%;
    color: #457b9d;
    color: #1d3557;
    font-size: 60px;
    font-size: 60px;
    opacity: 1;
    transition: all ease 0.5s; }
  .testimonials a.left.carousel-control {
    left: -14%;
    top: 45%;
    background: transparent;
    color: #457b9d;
    color: #1d3557;
    font-size: 60px;
    font-size: 60px;
    opacity: 1;
    transition: all ease 0.5s; }
  .testimonials .content {
    padding: 40px 30px 40px 80px;
    float: left;
    width: 70%; }
  .testimonials p.Name {
    color: #ef0000;
    text-align: left;
    font-size: 34px;
    color: #1d3557;
    font-weight: 400;
    float: left;
    width: 100%;
    margin: 0px 0px 45px 0px;
    line-height: 40px;
    position: relative;
    font-family: Roboto-Medium, sans-serif;
    line-height: 45px; }
    .testimonials p.Name:after {
      content: '';
      width: 75px;
      height: 4px;
      background: #457b9d;
      position: absolute;
      bottom: -15px;
      left: 0px; }
  .testimonials p.desig {
    color: #ef0000;
    text-align: left;
    font-size: 20px;
    font-family: 'Fira Sans';
    line-height: 30px;
    float: left;
    width: 100%;
    margin: 0px 0px 25px 0px; }
  .testimonials p.para {
    color: #1d3557;
    text-align: left;
    font-size: 18px;
    font-family: Roboto-Regular, sans-serif;
    line-height: 30px; }
    .testimonials p.para span {
      margin: 0px 0px 10px 0px;
      float: left;
      width: 100%; }
  .testimonials .right.carousel-control:hover {
    right: -15%; }
  .testimonials .left.carousel-control:hover {
    left: -15%; }
  .testimonials .title {
    margin: 0px 0px 80px 0px;
    color: #ffffff;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-family: Roboto-Bold, sans-serif;
    line-height: 60px;
    position: relative;
    z-index: 9;
    margin: 0px 0px 100px 0px;
    font-size: 48px;
    color: #1d3557; }

.testimonials:after {
  content: '';
  background-color: #a7ada5;
  background-color: #cfdacc;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6; }

.clients {
  margin: 0px 0px 70px 0px; }
  .clients .title {
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-family: Roboto-Bold, sans-serif;
    line-height: 60px;
    position: relative;
    z-index: 9;
    margin: 0px 0px 50px 0px;
    font-size: 48px;
    color: #1d3557; }

footer {
  background-color: #000e21;
  background-color: #222732;
  float: left;
  width: 100%;
  padding: 50px 0px 30px 0px; }

footer a.footer-site-logo {
  float: left;
  width: 200px; }

footer a.footer-site-logo img {
  width: 100%;
  float: left;
  margin: 0px 0px 5px 0px; }

footer p.para.big {
  float: left;
  width: 100%;
  font-family: Roboto-Medium,sans-serif;
  color: #fff;
  margin: 0px 0px 10px 0px;
  color: #457b9d;
  font-family: 'Roboto-Black';
  font-size: 18px; }

footer p.para {
  float: left;
  width: 100%;
  font-family: Roboto-Regular,sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px; }

footer h3.titles {
  color: #fff;
  font-family: Roboto-Black, sans-serif;
  font-size: 18px;
  float: left;
  width: 100%;
  margin: 0px 0px 15px 0px;
  color: #e63946;
  color: #457b9d; }

footer .list-unstyled.links li {
  float: left;
  width: 100%;
  position: relative;
  padding-left: 20px; }

footer .list-unstyled.links li a {
  font-family: 'Roboto-Light';
  color: #fff;
  float: left;
  width: auto;
  line-height: 24px;
  font-size: 14px;
  margin: 0px 0px 5px 0px;
  position: relative;
  padding: 0px 0px 5px 0px;
  font-family: Roboto-Regular,sans-serif;
  text-decoration: none; }

footer .mt-cust.ml-auto .list-unstyled.links li:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 15px;
  background-color: #e63946;
  position: absolute;
  left: 0px;
  top: 8px; }

footer .list-unstyled.links li a span mark {
  color: #ef0000;
  background: transparent;
  font-size: 30px;
  color: #fff; }

footer .list-unstyled.links a.contact-link {
  font-size: 18px;
  margin: 5px 0px 20px 0px;
  padding-bottom: 0px;
  font-family: Roboto-Medium,sans-serif;
  color: #457b9d;
  text-decoration: none;
  padding: 0px;
  width: 100% !important; }

footer .list-unstyled.links li.contact-link {
  color: #457b9d;
  font-family: Roboto-Black, sans-serif;
  font-size: 18px;
  float: left;
  width: 100%;
  margin: 0px 0px 10px 0px; }

footer .list-unstyled.links a.contact-link:before {
  content: none; }

footer .list-unstyled.links a.contact-link span {
  font-size: 30px;
  float: left;
  width: 100%;
  font-family: 'Roboto-Black';
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #ef0000; }

footer .mt-cust {
  margin: 65px 0px 0px 0px; }

footer .ml-auto.mt-cust {
  padding-left: 50px; }

footer .mt-cust ul.list-unstyled.links li a {
  width: auto; }

footer .col-md-12.text-md-left p {
  color: #fff;
  font-family: Roboto-Regular,sans-serif; }

footer .col-md-12.text-md-left p span {
  color: #ef0000;
  font-family: Roboto-Regular,sans-serif;
  font-size: 18px; }

footer .col-md-12.text-md-left {
  padding: 30px 0px 0px 0px;
  border-top: 1px solid #3f4654;
  margin: 50px 0px 0px 0px; }

.clients *,
.clients *::before,
.clients *::after {
  box-sizing: border-box; }
.clients .honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(34.375px); }
  .clients .honeycomb-cell {
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4761904762px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1; }
    .clients .honeycomb-cell__title {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      hyphens: auto;
      word-break: break-word;
      text-transform: capitalize;
      color: #fff;
      font-size: 1.75em;
      transition: opacity 350ms;
      font-size: 24px;
      font-family: Roboto-Medium, sans-serif;
      line-height: 36px;
      width: 100%;
      padding: 0% 8%;
      text-shadow: 2px 2px 4px #000;
      color: #f1faee; }
      .clients .honeycomb-cell__title > small {
        font-weight: 300;
        margin-top: 0.25em; }
    .clients .honeycomb-cell__image {
      object-fit: cover;
      object-position: center; }
    .clients .honeycomb-cell::before, .clients .honeycomb-cell::after {
      content: ''; }
    .clients .honeycomb-cell::before, .clients .honeycomb-cell::after, .clients .honeycomb-cell__image {
      top: -50%;
      left: 0;
      width: 100%;
      height: 200%;
      display: block;
      position: absolute;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      z-index: -1;
      background-color: #fff;
      transition: opacity 0.5s;
      transition: all ease 0.5s; }
    .clients .honeycomb-cell::before {
      background: #fff;
      transform: scale(1.045);
      transition: opacity 0.5s;
      transition: all ease 0.5s; }
    .clients .honeycomb-cell::after {
      background: #457b9d;
      opacity: 0.9;
      transition: opacity 350ms;
      background-color: #733716;
      background-color: #1d3557;
      background-color: #264653;
      background-color: #222732; }
    .clients .honeycomb-cell:hover .honeycomb-cell__title {
      opacity: 0; }
    .clients .honeycomb-cell:hover::before {
      background: #e63946; }
    .clients .honeycomb-cell:hover::after {
      opacity: 0; }
  .clients .honeycomb__placeholder {
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px; }
@media (max-width: 550px) {
  .clients .honeycomb-cell {
    margin: 81.25px 25px; } }
@media (min-width: 550px) and (max-width: 825px) {
  .clients .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px); }
  .clients .honeycomb__placeholder:nth-child(3n + 5) {
    display: block; } }
@media (min-width: 825px) and (max-width: 1100px) {
  .clients .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - 275px); }
  .clients .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - 275px); }
  .clients .honeycomb__placeholder:nth-child(5n),
  .clients .honeycomb__placeholder:nth-child(5n + 3) {
    display: block; } }
@media (min-width: 1100px) {
  .clients .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px); }
  .clients .honeycomb-cell:nth-child(7n + 7),
  .clients .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - 400px); }
  .clients .honeycomb__placeholder:nth-child(7n + 7),
  .clients .honeycomb__placeholder:nth-child(7n + 9),
  .clients .honeycomb__placeholder:nth-child(7n + 11) {
    display: block; } }

/*Media queries*/
@media only screen and (max-width: 1685px) {
  section.banner .carousel-inner .item span {
    font-size: 38px;
    line-height: 58px; }

  section.banner .carousel-inner .item span mark {
    background: transparent;
    font-size: 48px !important; } }
@media only screen and (max-width: 1445px) {
  section.banner .carousel-inner .item span {
    font-size: 34px;
    line-height: 50px; }

  section.banner .carousel-inner .item span mark {
    font-size: 40px !important; }

  .india-drives .title {
    font-size: 54px;
    line-height: 80px; }

  .india-drives .semi-title {
    font-size: 26px;
    line-height: 40px;
    padding: 0% 8%; }

  .india-drives .wrapmain .wrap p.para {
    padding: 3% 10%; }

  .india-drives .wrapmain .wrap p.para:after {
    right: 3%; }

  .india-drives .wrapmain .wrap p.para:before {
    left: 3%; }

  .india-drives {
    padding-top: 65px; }

  .clients .title {
    font-size: 44px; }

  .clients .honeycomb-cell {
    flex: 0 1 200px;
    max-width: 200px;
    height: 110.5px;
    margin: 50.47619px 12.5px 25px; }

  .testimonials {
    padding: 70px 50px 70px 50px; }

  .testimonials a.left.carousel-control {
    left: -18%; }

  .testimonials a.right.carousel-control {
    right: -18%; }

  section.banner .carousel-inner > .item {
    overflow: hidden;
    max-height: 441px; }

  .banner video#carfeelings {
    width: 100%;
    margin-top: -90px; }

  .india-drives video#india-drives {
    width: 124%;
    max-width: inherit; }

  .testimonials .title {
    margin: 0px 0px 70px 0px; }

  section.banner .carousel-inner > .item .caption {
    top: 12%;
    padding: 40px 30px 40px 40px;
    height: 300px;
    width: 45%; } }
@media only screen and (max-width: 1370px) {
  .india-drives {
    padding: 50px 0px;
    padding-top: 5%; }

  .india-drives .title {
    font-size: 40px; }

  .india-drives .semi-title {
    font-size: 28px;
    line-height: 38px;
    padding: 0% 6%; }

  .india-drives .wrapmain .wrap p.para {
    font-size: 20px;
    line-height: 35px;
    padding: 0% 12%; }

  .india-drives .wrapmain .wrap p.para:before {
    left: 6%; }

  .india-drives .wrapmain .wrap p.para:after {
    right: 6%; }

  .india-drives .wrapmain .wrap a.link.hvr-right {
    padding: 15px 18px;
    min-width: 220px;
    font-size: 20px; }

  .banner video#carfeelings {
    margin-top: -90px; }

  section.banner .carousel-inner .item span mark {
    font-size: 34px !important; }

  .banner video#carfeelings {
    margin-top: -65px; }

  .three-grid .box .caption {
    padding-top: 28px; }

  .three-grid .box {
    min-height: 280px; }

  section.three-grid {
    margin-bottom: 50px; }

  .india-drives {
    padding: 30px 0px;
    padding-top: 30px; }

  .india-drives .title {
    margin: 0px 0px 50px 0px;
    margin: 0px 0px 50px 0px;
    font-family: Roboto-Bold, sans-serif;
    font-size: 36px; }

  .clients .title {
    font-size: 36px;
    margin: 0px 0px 30px 0px; }

  .main-content .title:after {
    bottom: -20px; }

  .india-drives .semi-title {
    font-size: 22px;
    line-height: 33px;
    padding: 0% 10%; }

  .india-drives .semi-title span {
    font-size: 28px; }

  .india-drives .wrapmain .wrap p.para {
    font-size: 18px;
    line-height: 30px;
    padding: 20px 100px 20px 100px; }

  .india-drives .wrapmain .wrap p.para:before {
    left: 30px;
    top: 24px;
    width: 45px;
    height: 45px; }

  .india-drives .wrapmain .wrap p.para:after {
    right: 35px;
    width: 45px;
    height: 45px; }

  .india-drives .wrapmain .wrap p.para:before {
    left: 24px;
    top: 24px; }

  .india-drives .wrapmain .wrap p.para {
    margin: 0px 0px 40px 0px; }

  .india-drives .wrapmain .wrap a.link.hvr-right {
    padding: 15px 15px;
    min-width: 210px;
    font-size: 18px; }

  .india-drives {
    max-height: 700px;
    min-height: 700px; }

  .clients .title {
    font-size: 40px; }

  .clients {
    margin: 0px 0px 70px 0px;
    padding: 40px 0px; }

  .testimonials {
    padding: 50px 50px 50px 50px; }

  .testimonials .title {
    margin: 0px 0px 70px 0px;
    font-family: Roboto-Bold, sans-serif;
    font-size: 36px; }

  .testimonials {
    padding: 40px 50px 50px 50px;
    min-height: 100vh; }

  .testimonials a.left.carousel-control:hover {
    left: -19%; }

  .testimonials a.right.carousel-control:hover {
    right: -19%; }

  .testimonials .content {
    padding: 15px 30px 4px 50px;
    float: left;
    width: 70%; }

  .testimonials p.Name {
    font-size: 30px;
    margin: 0px 0px 40px 0px; }

  .testimonials .background-bg {
    padding: 50px;
    min-height: 400px; }

  section.banner .left.carousel-control:hover {
    left: -0.5%; }

  section.banner .left.carousel-control:hover {
    left: -0.5%; }

  section.banner .left.carousel-control {
    left: -10px; }

  section.banner .left.carousel-control:hover {
    left: -18px; }

  section.banner .carousel-control {
    font-size: 50px; }

  section.banner .right.carousel-control {
    right: -10px; }

  section.banner .right.carousel-control:hover {
    right: -18px; }

  section.banner .carousel-indicators {
    bottom: 50px; }

  section.three-grid .box .caption .title span {
    font-size: 54px; }

  section.three-grid .box .caption .title {
    font-size: 40px;
    line-height: 55px;
    margin: 0 0 12px 0; }

  section.three-grid .box .caption .para.big {
    font-size: 22px;
    margin: 0 0 12px 0; }

  section.three-grid .box .caption .para.small {
    font-size: 18px;
    padding: 0 65px;
    margin: 0 0 20px 0;
    line-height: 27px;
    min-height: 54px; }

  .india-drives .title:after {
    bottom: -10px; }

  .testimonials .carousel-control {
    font-size: 50px !important; }

  section.main-navigation .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    padding: 0px 0px 5px 0px;
    margin: 12px 0 5px 0px;
    line-height: 24px; }

  section.main-navigation .top-nav .list .nav-item.dropdown .dropdown-item {
    font-size: 16px; } }
@media only screen and (max-width: 1290px) {
  footer .list-unstyled.links a.contact-link span {
    font-size: 28px; }

  footer .ml-auto.mt-cust {
    padding-left: 40px; } }
@media only screen and (max-width: 1200px) {
  footer .list-unstyled.links a.contact-link span {
    font-size: 25px; }

  footer .list-unstyled.links a.contact-link span mark {
    font-size: 25px; } }
@media only screen and (max-width: 1030px) {
  section.main-navigation a.navbar-brand {
    padding: 35px 15px 0; }

  section.main-navigation .navbar-nav .nav-item {
    font-size: 15px;
    padding: 0 0 12px 0;
    margin: 0 0 3px 25px; }

  section.main-navigation .navbar-nav {
    padding: 30px 0 15px; }

  section.main-navigation .top-nav .list li a {
    margin: 5px 0 0 20px; }

  section.main-navigation .top-nav .nav-item.dropdown a {
    margin: 5px 0 0 20px; }

  section.main-navigation .top-nav .list li a {
    padding: 0 0 15px 0;
    font-size: 14px; }

  section.main-navigation .top-nav .nav-item.dropdown a {
    padding: 0 0 15px 0;
    font-size: 14px; }

  section.main-navigation .top-nav .list li a i {
    top: 2px; }

  section.main-navigation .top-nav .nav-item.dropdown i {
    top: 2px; }

  section.main-navigation .top-nav {
    padding: 11px 0 0; }

  section.main-navigation a.navbar-brand {
    padding: 25px 15px 0;
    min-height: 127px;
    min-width: 195px; }

  section.main-navigation a.navbar-brand img {
    width: 150PX; }

  section.banner .carousel-inner > .item {
    overflow: hidden;
    max-height: 333px; }

  section.banner .carousel-inner > .item .caption {
    top: 7%;
    padding: 20px 30px 20px 40px;
    height: 240px;
    width: 50%; }

  section.banner .carousel-inner .item span {
    font-size: 30px;
    line-height: 45px; }

  section.banner .carousel-inner .item span mark {
    font-size: 30px !important; }

  section.banner .carousel-inner > .item span:after {
    height: 110px;
    top: 25%; }

  section.banner .left.carousel-control {
    left: -20px; }

  section.banner .right.carousel-control {
    right: -20px; }

  section.banner .carousel-indicators {
    bottom: 45px; }

  section.three-grid .box .caption .title span {
    font-size: 45px;
    line-height: 60px; }

  section.three-grid .box .caption .title {
    font-size: 34px;
    line-height: 50px;
    margin: 0 0 10px 0; }

  section.three-grid .box .caption .para.big {
    font-size: 20px; }

  section.three-grid .box .caption .para.small {
    font-size: 14px;
    padding: 0 50px;
    margin: 0 0 12px 0;
    line-height: 24px;
    min-height: 50px; }

  section.three-grid .box .caption a.link {
    font-size: 14px;
    padding: 12px 15px;
    min-width: 145px; }

  .three-grid .box {
    min-height: 250px; }

  section.three-grid {
    margin-bottom: 30px; }

  .india-drives .title {
    margin: 0px 0px 30px 0px;
    font-size: 32px; }

  .india-drives .title:after {
    bottom: -5px; }

  .india-drives .wrapmain .wrap {
    padding: 0% 0%; }

  .india-drives .semi-title {
    font-size: 20px;
    line-height: 30px;
    padding: 0% 8%; }

  .india-drives .wrapmain .wrap p.para {
    font-size: 16px;
    line-height: 30px;
    padding: 20px 90px 20px 90px; }

  .india-drives .semi-title span {
    font-size: 22px; }

  .clients .title {
    font-size: 32px; }

  .main-content .title:after {
    bottom: -15px; }

  .clients .honeycomb-cell {
    flex: 0 1 200px;
    max-width: 200px;
    height: 100px;
    margin: 20px 0px 30px; }

  .clients .honeycomb-cell::before, .clients .honeycomb-cell::after, .clients .honeycomb-cell__image {
    width: 90%;
    height: 185%; }

  .clients .honeycomb-cell__title {
    font-size: 18px;
    line-height: 27px;
    width: 90%;
    padding: 0%;
    margin-top: -10px; }

  .clients {
    margin: 0px 0px 50px 0px;
    padding: 40px 0px; }

  .testimonials .title {
    margin: 0px 0px 50px 0px;
    font-size: 32px; }

  .main-content .title:after {
    left: 45%; }

  .testimonials .content {
    padding: 10px 30px 4px 40px;
    width: 69%; }

  .testimonials {
    padding: 40px 50px 50px 50px;
    min-height: auto; }

  footer p.para {
    font-size: 14px;
    line-height: 24px; }

  footer p.para.big {
    font-size: 15px; }

  footer a.footer-site-logo {
    width: 190px; }

  footer .list-unstyled.links a.contact-link span mark {
    font-size: 20px; }

  footer .list-unstyled.links a.contact-link span {
    font-size: 20px; }

  .testimonials p.Name {
    font-size: 24px;
    margin: 0px 0px 30px 0px; }

  .testimonials p.Name:after {
    bottom: -12px; }

  .testimonials p.para {
    font-size: 16px;
    line-height: 27px; }

  .testimonials .wrap .img:before {
    left: -10px;
    bottom: -10px;
    height: 70px;
    width: 70px; }

  .testimonials .wrap .img:after {
    right: -10px;
    top: -10px;
    height: 70px;
    width: 70px; }

  .testimonials .background-bg {
    padding: 30px;
    min-height: auto; }

  footer {
    padding: 30px 0px 30px 0px; }

  footer .col-md-12.text-md-left {
    padding: 30px 0px 0px 0px;
    margin: 30px 0px 0px 0px; }

  footer .list-unstyled.links li.contact-link {
    margin: 0px 0px 5px 0px; } }
@media only screen and (max-width: 770px) {
  section.main-navigation .navbar-nav .nav-item {
    font-size: 14px;
    padding: 0 0 12px 0;
    margin: 0 0 3px 15px;
    -webkit-transform: inherit;
    transform: inherit; }

  section.main-navigation .navbar-nav {
    padding: 20px 0 10px; }

  section.main-navigation .top-nav .list li a {
    padding: 0 0 10px 0;
    font-size: 13px; }

  section.main-navigation .top-nav .nav-item.dropdown a {
    padding: 0 0 10px 0;
    font-size: 13px; }

  section.main-navigation .top-nav {
    padding: 2px 0 0; }

  section.main-navigation .top-nav .list li a i {
    font-size: 16px; }

  section.main-navigation .top-nav .nav-item.dropdown i {
    font-size: 16px; }

  section.main-navigation .top-nav .list li a {
    margin: 5px 0 0 15px; }

  section.main-navigation .top-nav .nav-item.dropdown a {
    margin: 5px 0 0 15px; }

  section.main-navigation a.navbar-brand {
    padding: 20px 15px 0;
    min-height: 94px;
    min-width: 110px; }

  section.main-navigation a.navbar-brand img {
    width: 110PX; }

  section.banner .carousel-inner .item span {
    font-size: 24px;
    line-height: 38px; }

  section.main-navigation {
    margin-bottom: -1px; }

  .shine:after {
    height: 35px; }

  section.banner .carousel-inner > .item img {
    width: 120%;
    max-width: inherit; }

  section.banner .carousel-inner > .item .caption {
    height: 218px; }

  section.banner .carousel-inner > .item {
    max-height: 301px; }

  section.banner .carousel-inner .item span mark {
    font-size: 26px !important; }

  section.banner .carousel-inner .item span {
    font-size: 22px;
    line-height: 36px; }

  section.banner .carousel-inner > .item .caption {
    height: 195px;
    padding: 20px 20px 20px 30px;
    top: 8%;
    width: 55%; }

  section.banner .carousel-inner > .item span:after {
    height: 100px;
    top: 20%; }

  section.banner .carousel-control {
    font-size: 30px; }

  section.banner .left.carousel-control {
    left: -27px; }

  section.banner .right.carousel-control {
    right: -27px; }

  section.banner .carousel-inner .item span {
    padding-left: 20px; }

  .three-grid .box {
    min-height: 180px; }

  .three-grid .box .caption {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative; }

  section.three-grid .box .caption .title {
    font-size: 26px;
    line-height: 40px;
    margin: 0 0 5px 0; }

  section.three-grid .box .caption .title span {
    font-size: 36px;
    line-height: 50px; }

  section.three-grid .box .caption .para.big {
    font-size: 16px; }

  section.three-grid .box .caption .para.small {
    font-size: 13px;
    padding: 0 10px;
    margin: 0 0 10px 0;
    line-height: 18px;
    min-height: 40px; }

  .three-grid .box .caption {
    padding-top: 5px; }

  .india-drives .title {
    margin: 0px 0px 30px 0px;
    font-size: 26px;
    line-height: 40px; }

  .main-content .title:after {
    left: 45%;
    width: 85px;
    height: 3px; }

  .india-drives .semi-title {
    font-size: 16px;
    line-height: 28px;
    padding: 0% 5%;
    margin: 0px 0px 20px 0px; }

  .india-drives .wrapmain .wrap p.para {
    font-size: 14px;
    line-height: 26px;
    padding: 20px 40px 20px 40px; }

  .india-drives .wrapmain .wrap p.para:before {
    left: 12px;
    top: 18px; }

  .india-drives .wrapmain .wrap p.para:after {
    right: 9px;
    width: 25px;
    height: 25px;
    bottom: 18px; }

  .india-drives .wrapmain .wrap p.para {
    margin: 0px 0px 30px 0px; }

  .india-drives .wrapmain .wrap a.link.hvr-right {
    padding: 12px 15px;
    min-width: 160px;
    font-size: 14px; }

  .india-drives {
    max-height: initial;
    min-height: inherit; }

  .clients .title {
    font-size: 26px;
    line-height: 40px; } }

/*# sourceMappingURL=main.css.map */
