.bg-wrap {
    .page-title {
        font-family: muliregular, sans-serif;
        font-size: 30px;
        color: #fff;
        line-height: 45px;
        color: #ffffff;
        opacity: 0.8;
        position: relative;
        top: 22px;
    }

    .product-title {
        font-family: mulibold, sans-serif;
        font-size: 45px;
        color: #fff;
        float: left;
        width: auto;

        span {
            font-family: mulibold, sans-serif;
            font-size: 45px;
            color: red;
        }

        img {
            float: left;
            width: 430px;
            position: relative;
            left: -15px;
            margin-top: 110px;
        }

        p {
            font-family: mulibold, sans-serif;
            font-size: 45px;
            float: left;
            width: auto;
            clear: both;
            margin: 30px 0px 0px 0px;
        }

    }

    .car-wrap {
        float: right;
        width: 42%;
        position: relative;
        margin-top: -30px;
        min-height: 684px;
        min-height: auto;

        .xvalue {
            border: 25px solid #ffffff63;
            height: 40vh;
            float: right;
            width: auto;
            padding: 10px 28px;
        }

        p {
            &.x {
                font-family: muliextrabold, sans-serif;
                font-size: 150px;
                color: #fff;
                opacity: 1;
                float: left;
                position: relative;
                top: 62px;
                color: #AFAFB3;
                color: #cecece;
                z-index: 9;
            }

            &.value {
                font-family: muliextrabold, sans-serif;
                font-size: 100px;
                text-align: right;
                color: red;
                opacity: 0.7;
                text-transform: uppercase;
                line-height: 55px;

                span {
                    font-family: muliextrabold, sans-serif;
                    font-size: 135px;
                    float: left;
                    width: 100%;
                    line-height: 132px;
                }

            }

        }

        .car-img {
            position: absolute;
            bottom: -275px;
            z-index: 99;
            right: -30px;
        }

    }

    .relative {
        position: relative;
    }

    .slider-wrap {
        float: left;
        width: 99%;

        ul {
            &.carousel-indicators {
                float: left;
                width: 100%;
                display: block;
                top: 35px;
            }

        }

        .carousel-indicators {
            li {
                float: left;
                width: 100%;
                display: block;
                height: 30px;
                margin: 0px 0px 60px 0px;
                background-color: transparent;
                cursor: pointer;

                img {
                    float: left;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    border: 2px solid red;
                    margin: 0px 20px 0px 0px;
                    transition: all ease 0.5s;
                }

                &:hover {
                    img {
                        border: 2px solid white;
                        transition: all ease 0.5s;
                        background-color: #751011;
                    }

                    span {
                        color: red;
                        transition: all ease 0.5s;
                    }

                }

                span {
                    float: left;
                    width: calc(100% - 70px);
                    color: #fff;
                    font-size: 22px;
                    text-align: left;
                    position: relative;
                    text-indent: initial;
                    top: 4px;
                    line-height: 33px;
                    transition: all ease 0.5s;
                }

            }

            .active {
                background-color: transparent;
            }

        }

        .carousel-inner {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100vh;
            background-color: #000000b0;
            z-index: 999;
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity 0.5s linear;

            &:after {
                content: "";
                width: 475px;
                height: 100vh;
                background-color: #590305;
                position: absolute;
                top: 0px;
                left: 49.5%;
                z-index: -1;
                left: initial;
                right: 527px;
            }

            &.close {

                /* display: none;*/
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
            }

            &.open {

                /* display: block;*/
                visibility: visible;
                opacity: 1;
                transition: visibility 0s, opacity 0.5s linear;
            }

        }

        .item-wrap {
            float: right;
            width: 70%;
            position: relative;
            margin-right: 45px;
            min-width: 1340px;
            max-width: 1340px;
        }

        .small-div {
            width: 400px;
            height: auto;
            background-color: #ffffff;
            padding: 35px 25px 30px 30px;
            left: 180px;
            top: 90px;
            position: relative;
            z-index: 9;
            box-shadow: 3px 3px 2px 0px #00000052;

            .title {
                font-family: muliextrabold, sans-serif;
                font-size: 26px;
                line-height: 39px;
                color: #001722;
                font-family: mulisemibold, sans-serif;
            }

            .para {
                font-family: muliregular, sans-serif;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
                font-family: mulilight, sans-serif;
            }

        }

        .big-div {
            width: 770px;
            height: auto;
            background-color: #e8e8e8;
            padding: 90px 50px 50px 50px;
            position: relative;
            top: 25px;
            left: 38%;

            .para {
                font-family: muliregular, sans-serif;
                font-size: 20px;
                line-height: 30px;
                color: #001722;
                font-family: muliextralight, sans-serif;
                font-family: mulilight, sans-serif;
            }

        }

        .xfact {
            color: #b48d8e;
            color: #c5c3c3;
            font-size: 170px;
            font-family: muliextrabold, sans-serif;
            position: absolute;
            right: 190px;
            top: 195px;

            span {
                color: #E20317;
                font-family: muliextrabold, sans-serif;
                font-size: 260px;
                left: 55px;
                position: relative;
                top: 25px;
            }

        }

        a {
            &.carousel-control-prev {
                z-index: 999;
                left: initial !important;
                top: 51%;
                top: 470px;
                background-color: #001722;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                opacity: 1;
                transition: all ease 0.5s;
                right: 853px;

                &:hover {
                    background-color: #b91c1c;
                    transition: all ease 0.5s;
                }

            }

            &.carousel-control-next {
                z-index: 999;
                right: 82px;
                top: 51%;
                top: 470px;
                background-color: #001722;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                opacity: 1;
                transition: all ease 0.5s;

                &:hover {
                    background-color: #b91c1c;
                    transition: all ease 0.5s;
                }

            }

        }

        .carousel-control-prev-icon {
            background-image: url(../img/icons/left.png);
            background-size: 40px;
        }

        .carousel-control-next-icon {
            background-image: url(../img/icons/left.png);
            background-size: 40px;
            transform: rotate(180deg);
        }

        button {
            &.close {
                right: 70px;
                top: 26%;
                width: 66px;
                opacity: 1 !important;
                width: 60px;
                height: 70px;
                background-image: url(../img/icons/cancel.png);
                transition: all ease 0.5s;
                background-size: 100%;
                transform: rotate(270deg);
                position: absolute;
                right: 70px;
                top: 26%;
                top: 240px;
                width: 60px;
                opacity: 1 !important;
                background-repeat: no-repeat;
                background-color: transparent !important;

                &:hover {
                    background-image: url(../img/icons/canceled.png);
                    transition: all ease 0.5s;
                }

                img {
                    width: 100%;
                    transform: rotate(270deg);
                }

            }

        }

        .carousel-fade {
            .carousel-item {
                opacity: 0;
                transition-duration: .6s;
                transition-property: opacity;
            }

        }

    }

}

.btn-wrap {
    position: relative;
    margin-top: 155px;
    z-index: 99;

    .buy-car {
        background-color: #B20305;
        color: #fff;
        font-family: Muli-SemiBold, sans-serif;
        font-size: 24px;
        border: none;
        box-shadow: none;
        padding: 15px 35px 10px 35px;
        font-family: mulisemibold, sans-serif;
        font-family: muliregular, sans-serif;
        cursor: pointer;
        text-decoration: none;

        img {
            width: 50px;
            height: 50px;
            margin: 0px 15px 0px 0px;
            position: relative;
            top: -4px;
        }

    }

    .buy-bike {
        border: 2px solid #83818f !important;
        color: #fff;
        font-family: 'Muli-SemiBold';
        font-size: 24px;
        border: none;
        box-shadow: none;
        padding: 4px 35px 0px 35px;
        font-family: 'mulisemibold';
        font-family: muliregular , sans-serif;
        cursor: pointer;
        float: right;
        background-color: transparent;
        text-decoration: none;
        background-size: 65px;
        background-repeat: no-repeat;
        background-position: 85% 5px;

        img {
            width: 65px;
            height: 65px;
            margin: 0px 0px 0px 8px;
            position: relative;
            top: 1px;
        }

    }

}

.contact {
    .left {
        a {
            font-family: mulisemibold, sans-serif;
            color: #001722;
            font-size: 20px;
            line-height: 30px;
            margin: 0px 20px 0px 0px;
            text-decoration: none;
            transition: all ease 0.5s;
        }

    }

}

.bg-wrap .slider-wrap .carousel-fade  .carousel-item.active,
.bg-wrap .slider-wrap .carousel-fade  .carousel-item-next.carousel-item-left,
.bg-wrap .slider-wrap .carousel-fade  .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.bg-wrap .slider-wrap .carousel-fade .active.carousel-item-left,
.bg-wrap .slider-wrap .carousel-fade  .active.carousel-item-right {
    opacity: 0;
}

.bg-wrap .slider-wrap .carousel-fade  .carousel-item-next,
.bg-wrap .slider-wrap .carousel-fade .carousel-item-prev,
.bg-wrap .slider-wrap .carousel-fade .carousel-item.active,
.bg-wrap .slider-wrap .carousel-fade .active.carousel-item-left,
.bg-wrap .slider-wrap .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

@media only screen and (max-width:1810px) {
    .bg-wrap .page-title {
        font-size: 28px;
    }

}

@media only screen and (max-width:1750px) {
    .bg-wrap .product-title p {
        font-size: 40px;
        margin: 15px 0px 0px 0px;
    }

}

@media only screen and (max-width:1685px) {
    .bg-wrap .page-title {
        font-size: 26px;
        line-height: 39px;
    }

    .bg-wrap .product-title img {
        width: 400px;
    }

    .bg-wrap .product-title p {
        font-size: 38px;
    }

    .bg-wrap .car-wrap .car-img {
        width: 155%;
    }

    .bg-wrap .car-wrap p.x {
        font-size: 145px;
        top: 60px;
        left: -8px;
    }

    .bg-wrap .product-title p {
        margin: 20px 0px 0px 0px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: -260px;
        right: -20px;
    }

}

@media only screen and (max-width:1610px) {
    .bg-wrap .car-wrap .xvalue {
        border: 20px solid #ffffff63;
        width: 485px;
        padding: 10px 20px;
    }

    .bg-wrap .car-wrap p.value span {
        font-size: 122px;
        line-height: 115px;
    }

    .bg-wrap .car-wrap p.value {
        font-size: 92px;
    }

    .bg-wrap .car-wrap p.x {
        font-size: 135px;
    }

}

@media only screen and (max-width:1450px) {
    .bg-wrap {
        height: 100vh;
        width: 99.99vw;
        background-size: 100%;
        background-position: 0px 0px;
    }

    .bg-wrap .slider-wrap .carousel-inner {
        height: 140vh;
    }

    .bg-wrap .slider-wrap .carousel-inner:after {
        height: 140vh;
    }

    .bg-wrap .page-title {
        font-size: 24px;
    }

    .bg-wrap .product-title img {
        width: 350px;
        margin-top: 85px;
    }

    .bg-wrap .product-title p {
        font-size: 32px;
    }

    .bg-wrap .product-title span {
        font-size: 32px;
    }

    .bg-wrap .product-title p {
        margin: 15px 0px 0px 0px;
    }

    .bg-wrap .car-wrap {
        width: 42%;
        position: relative;
        margin-top: -30px;
    }

    .bg-wrap .car-wrap .xvalue {
        border: 20px solid #ffffff63;
        height: 48vh;
        width: 405px;
        padding: 10px 18px;
    }

    .bg-wrap .car-wrap p.x {
        font-size: 110px;
        top: 35px;
        left: -8px;
    }

    .bg-wrap .car-wrap p.value {
        font-size: 75px;
        top: -30px;
        line-height: 0px;
    }

    .bg-wrap .car-wrap p.value span {
        font-size: 100px;
        line-height: 148px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: -135px;
        width: 155%;
    }

    .bg-wrap .slider-wrap .carousel-indicators li img {
        width: 45px;
        height: 45px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li {
        margin: 0px 0px 43px 0px;
    }

    .btn-wrap {
        margin-top: 25px;
    }

    .btn-wrap .buy-car {
        font-size: 20px;
        padding: 8px 35px 2px 35px;
    }

    .btn-wrap .buy-car img {
        width: 45px;
        height: 45px;
    }

    .btn-wrap .buy-bike img {
        width: 55px;
        height: 55px;
    }

    .btn-wrap .buy-bike {
        font-size: 20px;
        padding: 4px 25px 0px 25px;
    }

    .contact .wrap {
        position: relative;
        top: 100px;
    }

    .contact {
        bottom: -40px;
    }

    .bg-wrap .slider-wrap .xfact {
        font-size: 140px;
        right: 115px;
        top: 125px;
    }

    .bg-wrap .slider-wrap .xfact span {
        font-size: 220px;
        left: 48px;
        top: 22px;
    }

    .bg-wrap .slider-wrap .small-div {
        width: 375px;
        left: 370px;
        top: 55px;
    }

    .bg-wrap .slider-wrap .big-div {
        width: 640px;
        padding: 55px 50px 30px 85px;
        top: -55px;
        left: 51%;
    }

    .bg-wrap .slider-wrap .carousel-inner:after {
        width: 440px;
        height: 140vh;
        right: 390px;
    }

    .bg-wrap .slider-wrap button.close {
        right: 25px;
        top: 160px;
    }

    .bg-wrap .slider-wrap a.carousel-control-prev {
        top: 380px;
        right: 680px;
    }

    .bg-wrap .slider-wrap a.carousel-control-next {
        right: 35px;
        top: 380px;
    }
    .bg-wrap .navbar .right .navbar-nav .nav-item.home a {
    
    width: 35px;
    height: 35px;
    
    top: 15px;
    right: 5px;
}
.bg-wrap .navbar .right .navbar-nav .nav-item .nav-link.slide:after {
  
    top: 10px;
}
}

@media only screen and (max-width:1370px) {
    .bg-wrap .page-title {
        font-size: 22px;
        top: 0px;
    }

    .bg-wrap .product-title img {
        width: 315px;
        margin-top: 80px;
    }

    .bg-wrap .product-title p {
        margin: 15px 0px 0px 0px;
        font-size: 30px;
    }

    .bg-wrap .car-wrap {
        width: 42%;
    }

    .bg-wrap .car-wrap .xvalue {
        border: 16px solid #ffffff63;
        position: relative;
        margin-top: -15px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: 208px;
        width: 150%;
    }

    .bg-wrap .car-wrap p.x {
        left: 0px;
    }

    .bg-wrap .car-wrap .xvalue {
        padding: 10px 15px;
    }

    .bg-wrap .car-wrap p.value span {
        font-size: 102px;
        line-height: 145px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li img {
        width: 40px;
        height: 40px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li {
        margin: 0px 0px 35px 0px;
    }

    .bg-wrap .slider-wrap ul.carousel-indicators {
        top: 18px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li span {
        top: 0px;
        font-size: 20px;
    }

    .contact {
        bottom: -68px;
    }

    .btn-wrap {
        margin-top: -302px;
    }

    .btn-wrap .buy-car img {
        top: 0px;
    }

    .btn-wrap .buy-car {
        font-size: 20px;
        padding: 6px 32px 6px 32px;
    }

    .btn-wrap {
        margin-top: -312px;
    }

    .btn-wrap .buy-bike {
        font-size: 20px;
        padding: 2px 22px 2px 22px;
    }

    .contact .left a {
        font-size: 18px;
    }

    .contact .left a img {
        width: 38px;
    }

    .contact .right img {
        width: 175px;
    }

    .contact .wrap {
        position: relative;
        top: 90px;
    }

    .bg-wrap .navbar {
        padding: 12px 0px 0px 0px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li img {
        margin: 0px 15px 0px 0px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: -165px;
    }

    .btn-wrap {
        margin-top: 70px;
    }

    .bg-wrap .slider-wrap .xfact span {
        font-size: 190px;
        left: 35px;
        top: 18px;
    }

    .bg-wrap .slider-wrap .small-div {
        width: 375px;
        left: 370px;
        top: 55px;
        padding: 25px 20px 25px 30px;
    }

    .bg-wrap .slider-wrap .big-div {
        width: 635px;
        padding: 60px 50px 40px 85px;
        top: -45px;
        left: 51%;
    }

    .bg-wrap .slider-wrap .small-div .title {
        font-size: 22px;
        line-height: 33px;
    }

    .bg-wrap .slider-wrap .small-div .para {
        font-size: 18px;
        line-height: 27px;
    }

    .bg-wrap .slider-wrap .big-div .para {
        font-size: 18px;
        line-height: 27px;
    }

    .bg-wrap .slider-wrap .xfact {
        font-size: 140px;
        right: 120px;
        top: 115px;
    }

    .bg-wrap .slider-wrap a.carousel-control-next {
        right: 40px;
        top: 340px;
    }

    .bg-wrap .slider-wrap button.close {
        right: 35px;
        top: 140px;
    }

    .bg-wrap .slider-wrap a.carousel-control-prev {
        top: 340px;
        right: 680px;
    }

    .contact .left a img {
        width: 30px;
    }

    .contact .wrap {
        top: 60px;
    }

    .contact {
        bottom: -95px;
        background-position: center;
    }

    .search-wrap .nav-item .nav-link:before {
        background-size: 62%;
        top: 21px;
        left: 15px;
    }

    .search-wrap .nav-item .nav-link {
        padding-left: 45px;
    }

    .search-wrap .form-group label {
        font-size: 18px;
        line-height: 27px;
    }

}

@media only screen and (max-width:1280px) {
    .bg-wrap .page-title {
        font-size: 20px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: -145px;
    }

    .bg-wrap .navbar .right .navbar-nav .nav-item.home a {
        width: 35px;
        height: 35px;
        top: 12px;
    }

}

@media only screen and (max-width:1210px) {
    .bg-wrap .navbar .logo {
        width: 210px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li span {
        font-size: 17px;
    }

    .btn-wrap .buy-car {
        font-size: 18px;
        padding: 5px 25px 5px 25px;
    }

    .btn-wrap .buy-car img {
        width: 40px;
        height: 40px;
    }

    .btn-wrap .buy-bike {
        font-size: 18px;
        padding: 2px 16px 2px 16px;
    }

    .btn-wrap .buy-bike img {
        width: 50px;
        height: 50px;
    }

    .btn-wrap {
        margin-top: 35px;
    }

    .bg-wrap .slider-wrap .carousel-indicators li {
        margin: 0px 0px 28px 0px;
    }

    .bg-wrap .page-title {
        font-size: 19px;
    }

    .bg-wrap .car-wrap .xvalue {
        width: 378px;
    }

    .bg-wrap .product-title img {
        width: 278px;
        margin-top: 74px;
    }

    .bg-wrap .product-title p {
        margin: 6px 0px 0px 0px;
        font-size: 26px;
    }

    .bg-wrap .car-wrap .xvalue {
        width: 352px;
    }

    .bg-wrap .car-wrap .xvalue {
        padding: 10px 10px;
    }

}

@media only screen and (max-width:1160px) {
    .bg-wrap .car-wrap p.x {
        font-size: 95px;
    }

    .bg-wrap .car-wrap p.value {
        font-size: 68px;
    }

    .bg-wrap .car-wrap p.value span {
        font-size: 88px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: -109px;
    }

    .bg-wrap .car-wrap {
        margin-top: -50px;
    }

    .bg-wrap .page-title {
        font-size: 20px;
        line-height: 35px;
        width: 45%;
    }

    .bg-wrap .product-title img {
        margin-top: 48px;
    }

    .bg-wrap .car-wrap .car-img {
        bottom: -96px;
    }

    .bg-wrap .slider-wrap .xfact {
        font-size: 130px;
        right: 150px;
        top: 115px;
    }

}