<div class="wrh" (mouseover)="showContacts()" (mouseout)="hideContacts()">
  <p class="title hvr-red-right"><img src="../../assets/images/icons/calls.png" alt="Phone icon" class="animate__animated animate__swing animate__infinite">We are here for you</p>
</div>
<div class="contact hide" #footerContact (mouseover)="showContacts()" (mouseout)="hideContacts()">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wrap">
        <div class="left">
          <a href="">
            <img src="../../assets/images/icons/call.png" />
            -  1800 103 9200
          </a>
          <a href="">
            <img src="../../assets/images/icons/email.png" /> -   smartemi@tranzlease.com
          </a>
        </div>
        <div class="right">
          <a href="">
            Powered By -
            <img src="../../assets/images/logo/ICICI-Bank.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>