<link rel="stylesheet" href="https://use.typekit.net/zxm4yts.css">

Muli Light

font-family: muli, sans-serif;

font-weight: 300;

font-style: normal;


Muli Italic

font-family: muli, sans-serif;

font-weight: 400;

font-style: italic;


Muli Light Italic

font-family: muli, sans-serif;

font-weight: 300;

font-style: italic;


Muli Regular

font-family: muli, sans-serif;

font-weight: 400;

font-style: normal;


Muli ExtraLight Italic

font-family: muli, sans-serif;

font-weight: 200;

font-style: italic;


Muli ExtraLight

font-family: muli, sans-serif;

font-weight: 200;

font-style: normal;


Muli SemiBold Italic

font-family: muli, sans-serif;

font-weight: 600;

font-style: italic;


Muli Bold Italic

font-family: muli, sans-serif;

font-weight: 700;

font-style: italic;


Muli Bold

font-family: muli, sans-serif;

font-weight: 700;

font-style: normal;


Muli ExtraBold

font-family: muli, sans-serif;

font-weight: 800;

font-style: normal;


Muli ExtraBold Italic

font-family: muli, sans-serif;

font-weight: 800;

font-style: italic;


Muli Black

font-family: muli, sans-serif;

font-weight: 900;

font-style: normal;


Muli Black Italic

font-family: muli, sans-serif;

font-weight: 900;

font-style: italic;

