.promoter-banner {
  background-attachment: fixed;
  float: left;
  width: 100%;
  min-height: 700px;
  background-image: url(../img/pramoters/tranzlease-pramotors-carlease-smartemi.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: 0px -80px;
  position: relative;
  overflow: hidden;
  padding: 0px 0px 0px 0px; }

.promoter-banner .title {
  font-size: 60px;
  line-height: 65px;
  margin: 0px 0px 50px 0px;
  color: #1d3557;
  font-family: Roboto-Bold, sans-serif;
  width: 100%;
  text-align: left;
  float: right;
  position: relative;
  margin-top: 12%; }

.promoter-banner .zindex9 {
  z-index: 9;
  margin-left: -15px; }

.promoter-banner .title span {
  color: #ff192f; }

.promoter-banner p.semi-para {
  font-family: Roboto-Medium, sans-serif;
  font-size: 32px;
  width: 41%;
  line-height: 50px; }

.promoter-banner:after {
  content: '';
  width: 100%;
  height: 170%;
  position: absolute;
  /* background-image: url(../img/pramoters/whitebgs.png); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -58px 16px;
  left: -35%;
  top: 0px;
  transform: rotate(60deg);
  background-color: #ffffff;
  opacity: 0.8;
  box-shadow: 0px 18px 40px 20px #000000; }

.promoter-people {
  float: left;
  width: 100%;
  background-color: #ddd;
  margin-top: 350px;
  padding: 0px 0px 50px 0px;
  background-image: url(../img/pramoters/gray_backgrounds.jpg);
  background-size: 100%;
  background-position: -70px 0px;
  background-repeat: no-repeat;
  min-height: 560px; }

.promoter-people.right {
  background-image: url(../img/pramoters/gray-backgrounds.jpg);
  background-repeat: no-repeat;
  background-position: 535px -1px; }

.promoter-people.right .img img {
  float: right;
  width: 62%; }

.promoter-people .img {
  float: left;
  width: 100%; }

.promoter-people .img img {
  width: 50%;
  position: relative;
  margin-top: -245px; }

.promoter-people p.para {
  font-family: Roboto-Regular, sans-serif;
  color: #1d3557;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 25px 0px;
  float: left;
  width: 100%; }

.promoter-people .title {
  font-family: Roboto-Medium, sans-serif;
  font-size: 42px;
  font-family: Roboto-Bold, sans-serif;
  margin: 0px 0px 20px 0px; }

.promoter-people .title span {
  color: #ff192f; }

.promoter-people .designation {
  font-family: Roboto-Medium, sans-serif;
  font-size: 26px;
  margin: 0px 0px 70px 0px;
  background-color: #fff; }

.promoter-people .content {
  padding: 100px 0px 0px 0px;
  margin-top: -225px; }

.promoter-people.right .pwrap {
  overflow: auto;
  padding: 65px 0px 0px 0px; }

.scrolls::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

.scrolls::-webkit-scrollbar {
  width: 6px;
  background-color: #969696; }

.scrolls::-webkit-scrollbar-thumb {
  background-color: #969696; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 6px;
  background-color: #969696; }

body::-webkit-scrollbar-thumb {
  background-color: #969696; }

.promoter-people .pwrap {
  float: left;
  width: 100%;
  max-height: 430px;
  overflow-y: scroll;
  padding: 15px 20px 15px 0px;
  margin: 25px 0px 0px 0px; }

.promoter-people.three .img img {
  width: 70%; }

.promoter-people.right .col-md-6.imgs {
  position: relative;
  left: 50%; }

.promoter-people.right .col-md-6.content {
  position: relative;
  right: 50%; }

@media only screen and (max-width: 1985px) {
  .promoter-banner p.semi-para {
    width: 37%; } }
@media only screen and (max-width: 1685px) {
  .promoter-banner p.semi-para {
    width: 40%; } }
@media only screen and (max-width: 1555px) {
  .promoter-banner p.semi-para {
    width: 41%; }

  .promoter-banner {
    background-position: 0px 0px; }

  .promoter-people p.para {
    padding: 0px 20px 0px 0px; }

  .promoter-people .img img {
    width: 65%;
    margin-top: -260px; }

  .promoter-people.right .img img {
    float: right;
    width: 75%;
    margin-top: -218px; }

  .promoter-people.right .pwrap {
    padding: 25px 0px 0px 0px; }

  .promoter-people.three .img img {
    width: 85%;
    margin-top: -260px; }

  .promoter-banner {
    min-height: 650px; } }
@media only screen and (max-width: 1445px) {
  .promoter-banner .title {
    font-size: 48px;
    line-height: 60px;
    margin-top: 11%;
    margin-bottom: 30px; }

  .promoter-banner p.semi-para {
    font-size: 30px;
    line-height: 45px; }

  .promoter-people .img img {
    width: 65%;
    margin-top: -200px; }

  .promoter-people.right .img img {
    float: right;
    width: 76%;
    margin-top: -170px; }

  .promoter-people.three .img img {
    width: 85%;
    margin-top: -200px; }

  .promoter-people {
    margin-top: 300px; }

  .promoter-banner {
    min-height: 570px; } }
@media only screen and (max-width: 1370px) {
  .promoter-banner p.semi-para {
    font-size: 28px;
    line-height: 43px; }

  .promoter-people .img img {
    width: 65%;
    margin-top: -170px; }

  .promoter-people.right .img img {
    width: 80%;
    margin-top: -150px; }

  .promoter-people.three .img img {
    width: 88%;
    margin-top: -175px; }

  .promoter-people.right {
    background-image: url(../img/pramoters/gray-backgrounds.jpg);
    background-repeat: no-repeat;
    background-position: 382px -1px; }

  .promoter-banner {
    min-height: 510px; } }
@media only screen and (max-width: 1290px) {
  .promoter-banner .title {
    font-size: 40px;
    line-height: 55px; }

  .promoter-banner p.semi-para {
    font-size: 24px;
    line-height: 34px;
    width: 40%; }

  .promoter-people .title {
    font-size: 36px; }

  .promoter-people .designation {
    font-size: 24px;
    margin: 0px 0px 50px 0px; }

  .promoter-people {
    min-height: 495px; } }
@media only screen and (max-width: 1025px) {
  .promoter-banner .title {
    font-size: 36px;
    line-height: 50px;
    margin-top: 13%; }

  .promoter-banner p.semi-para {
    font-size: 22px;
    line-height: 33px;
    width: 45%; }

  .promoter-people {
    margin-top: 250px; }

  .promoter-people .title {
    font-size: 32px; }

  .promoter-people .content {
    padding: 60px 0px 0px 0px;
    margin-top: -165px; }

  .promoter-people {
    margin-top: 225px; }

  .promoter-people .pwrap {
    max-height: 380px;
    padding: 0px 20px 15px 0px;
    margin: 15px 0px 0px 0px; }

  .promoter-people {
    min-height: 430px; }

  .promoter-people p.para {
    font-size: 18px;
    line-height: 27px; }

  .promoter-people .img img {
    width: 75%;
    margin-top: -135px; }

  .promoter-people.right .pwrap {
    padding: 0px 0px 0px 0px; }

  .promoter-people.right .img img {
    width: 95%;
    margin-top: -125px;
    right: -30px; }

  .promoter-people.three .img img {
    width: 100%;
    margin-top: -135px;
    left: -35px; }

  .promoter-people.right {
    background-position: 315px -1px; }

  .promoter-banner {
    min-height: 450px; } }
@media only screen and (max-width: 995px) {
  .promoter-people .content {
    width: 50%;
    float: left; }

  .promoter-people .imgs {
    width: 50%;
    float: left; } }
@media only screen and (max-width: 910px) {
  .promoter-banner:after {
    left: -45%; }

  .promoter-people .title {
    font-size: 28px; }

  .promoter-people .designation {
    font-size: 20px;
    margin: 0px 0px 40px 0px; }

  .promoter-people {
    margin-top: 200px; }

  .promoter-people .content {
    padding: 60px 0px 0px 0px;
    margin-top: -155px; } }
@media only screen and (max-width: 850px) {
  .promoter-banner {
    min-height: 440px;
    background-position: 0px 0px; } }
@media only screen and (max-width: 770px) {
  .promoter-banner .title {
    font-size: 32px;
    line-height: 45px;
    margin-top: 13%;
    margin-bottom: 20px; }

  .promoter-banner p.semi-para {
    font-size: 20px;
    line-height: 30px;
    width: 50%; }

  .promoter-banner {
    min-height: 65vh; }

  .promoter-banner:after {
    left: -33%; }

  .promoter-people .designation {
    font-size: 18px;
    margin: 0px 0px 30px 0px; }

  .promoter-people p.para {
    font-size: 16px;
    line-height: 25px;
    padding: 0px 0px 0px 0px; }

  .promoter-people .content {
    padding: 60px 0px 0px 0px;
    margin-top: -145px; }

  .promoter-people .pwrap {
    max-height: 204px;
    padding: 0px 10px 15px 0px;
    margin: 15px 0px 0px 0px; }

  .promoter-people {
    margin-top: 170px;
    min-height: 295px; }

  .promoter-people.right .pwrap {
    padding: 0px 10px 0px 0px; }

  .promoter-people.right {
    background-position: 260px -1px; }

  .promoter-banner:after {
    left: -32%; }

  .promoter-banner {
    min-height: 360px; } }
@media only screen and (max-width: 670px) {
  .promoter-banner p.semi-para {
    font-size: 20px;
    line-height: 30px;
    width: 51%; }

  .promoter-banner:after {
    left: -43%;
    top: -40px; }

  .promoter-banner {
    min-height: 54vh;
    min-height: 360px; }

  .promoter-banner:after {
    left: -36%;
    top: -40px; }

  .promoter-banner .title {
    margin-top: 11%; }

  .promoter-people .title {
    font-size: 24px; }

  .promoter-people .designation {
    font-size: 16px;
    margin: 0px 0px 20px 0px; }

  .promoter-people p.para {
    font-size: 16px;
    line-height: 25px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px; }

  .promoter-people {
    margin-top: 170px;
    min-height: 210px;
    padding: 0px 0px 25px 0px; }

  .promoter-banner .title {
    font-size: 28px;
    line-height: 38px; }

  .promoter-people.right {
    background-position: 210px -1px; } }
@media only screen and (max-width: 600px) {
  .promoter-banner p.semi-para {
    font-size: 18px;
    line-height: 27px;
    width: 55%; }

  .promoter-banner {
    min-height: 300px; }

  .promoter-people .title {
    font-size: 22px;
    margin: 0px 0px 15px 0px; }

  .promoter-people .designation {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    line-height: 22px;
    min-height: 44px; }

  .promoter-people .content {
    padding: 60px 0px 0px 0px;
    margin-top: -155px; }

  .promoter-people .img img {
    width: 90%; }

  .promoter-people.right .img img {
    width: 100%;
    margin-top: -105px;
    right: -15px; }

  .promoter-people.three .img img {
    width: 115%;
    margin-top: -115px;
    left: -30px; } }
@media only screen and (max-width: 500px) {
  .promoter-banner .title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px; }

  .promoter-banner p.semi-para {
    font-size: 16px;
    line-height: 24px;
    width: 59%; }

  .promoter-banner {
    min-height: 275px; } }
@media only screen and (max-width: 480px) {
  .promoter-people {
    margin-top: 200px;
    min-height: auto;
    padding: 0px 0px 25px 0px;
    background-image: none; }

  .promoter-people .imgs {
    width: 100%;
    float: left; }

  .promoter-people .img {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -170px; }

  .promoter-people .img img {
    width: 50%;
    margin: 0px;
    margin: 0 auto; }

  .promoter-people .content {
    padding: 30px 0px 0px 0px;
    margin-top: 0px;
    width: 100%; }

  .promoter-people .title {
    font-size: 22px;
    margin: 0px 0px 15px 0px; }

  .promoter-people .designation {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    line-height: 22px;
    min-height: auto;
    background-color: transparent; }

  .promoter-people .pwrap {
    max-height: 204px;
    padding: 0px 10px 15px 0px;
    margin: 15px 0px 0px 0px; }

  .promoter-people.right .col-md-6.imgs {
    position: relative;
    left: 0%; }

  .promoter-people.right .col-md-6.content {
    position: relative;
    right: 0%; }

  .promoter-people.right .img img {
    right: 0px;
    width: 60%;
    margin: 0px;
    margin: 0 auto;
    float: none; }

  .promoter-people .img {
    text-align: center;
    margin-top: -170px;
    text-align: center;
    float: none; }

  .promoter-people.right {
    background-image: none; }

  .promoter-people.three .img img {
    width: 70%;
    margin-top: 19px;
    left: 0px; } }
@media only screen and (max-width: 450px) {
  .promoter-banner:after {
    left: 0px;
    top: 282px;
    transform: rotate(0deg); }

  .promoter-banner .zindex9 {
    z-index: 9;
    margin-left: 0px;
    margin-top: 170px;
    margin: 0px;
    padding: 0px;
    margin-top: 258px; }

  .promoter-banner p.semi-para {
    font-size: 16px;
    line-height: 24px;
    width: 100%; }

  .promoter-banner .title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 25px; }

  .promoter-banner {
    background-position: -170px 0px;
    background-size: 138%; }

  .promoter-banner {
    min-height: 250px; } }
@media only screen and (max-width: 440px) {
  .promoter-banner {
    background-size: 141%; } }
@media only screen and (max-width: 430px) {
  .promoter-banner {
    background-position: -170px 0px;
    background-size: 143%; } }
@media only screen and (max-width: 420px) {
  .promoter-banner {
    background-size: 146%; } }
@media only screen and (max-width: 410px) {
  .promoter-banner {
    background-position: -170px 0px;
    background-size: 150%; } }
@media only screen and (max-width: 400px) {
  .promoter-banner:after {
    top: 265px; }

  .promoter-banner .zindex9 {
    margin-top: 250px; } }
@media only screen and (max-width: 380px) {
  .promoter-banner {
    background-size: 152%; } }
@media only screen and (max-width: 380px) {
  .promoter-banner .zindex9 {
    margin-top: 240px; }

  .promoter-banner:after {
    top: 262px; }

  .promoter-banner {
    background-position: -180px 0px;
    background-size: 155%; } }
@media only screen and (max-width: 360px) {
  .promoter-banner .zindex9 {
    margin-top: 220px; }

  .promoter-banner:after {
    top: 145px; }

  .promoter-banner:after {
    top: 238px; }

  .promoter-banner {
    background-position: -168px 0px;
    background-size: 150%; } }
@media only screen and (max-width: 340px) {
  .promoter-banner {
    background-position: -160px 0px;
    background-size: 150%; }

  .promoter-banner .title {
    margin-bottom: 20px; }

  .promoter-banner:after {
    top: 238px; }

  .promoter-banner .zindex9 {
    margin-top: 213px; } }
@media only screen and (max-width: 330px) {
  .promoter-banner {
    background-position: -160px 0px;
    background-size: 155%; } }
@media only screen and (max-width: 330px) {
  .promoter-banner {
    background-position: -160px 0px;
    background-size: 160%; } }

/*# sourceMappingURL=promoter.css.map */
