<ng-template #modalloader>
  <div class="modal-body">
    <div class="text-center text-primary pt-05 f14">
      Please wait....
      <img src="/client/assets/assets/images/loader.gif" width="50" />
    </div>
  </div>
</ng-template>

<!--<div #modalloader>
  <div class="modal-body">
    <div class="text-center text-primary pt-05 f14">
      Please wait....
      <img src="/client/assets/assets/images/loader.gif" width="50" />
    </div>
  </div>
</div>-->
<button type="button" class="btn btn-primary" (click)="Show()">Open modal</button>
<br><br>
